body {
  background: #b4b4b4 url(../images/create-profile-bg.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  body header {
    background: transparent;
    padding-top: 16px; }
    body header .header-top-left {
      float: left; }
    body header .header-top-right {
      float: right; }
      body header .header-top-right .notification {
        position: relative;
        width: 36px;
        float: left;
        margin-top: 14px; }
        body header .header-top-right .notification span {
          background: #7357cc none repeat scroll 0 0;
          border-radius: 50%;
          color: #fff;
          font-size: 11px;
          height: 15px;
          line-height: 12px;
          position: absolute;
          right: 3px;
          text-align: center;
          top: -11px;
          width: 15px; }
      body header .header-top-right .user-name {
        float: right;
        padding: 5px 0 0; }
        body header .header-top-right .user-name .prof-img {
          float: left;
          overflow: hidden; }
          body header .header-top-right .user-name .prof-img img {
            width: 55px !important;
            height: 55px !important; }
        body header .header-top-right .user-name .prof-name {
          float: left;
          margin-left: 10px;
          margin-top: 15px;
          position: relative;
          cursor: pointer; }
  body .main .profile-container {
    position: relative;
    padding: 28px 0; }
    @media (min-width: 0px) and (max-width: 992px) {
      body .main .profile-container .container {
        max-width: none; } }
    body .main .profile-container .container .profile-details {
      margin: 0;
      background: rgba(255, 255, 255, 0.5);
      position: relative;
      border-radius: 6px;
      padding: 8px;
      -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03); }
      @media (min-width: 768px) {
        body .main .profile-container .container .profile-details {
          padding: 8px 5px 8px 8px; } }
      body .main .profile-container .container .profile-details form div {
        text-align: center;
        position: relative; }
        body .main .profile-container .container .profile-details form div.carousel-inner {
          overflow-y: visible; }
        body .main .profile-container .container .profile-details form div .formHeader {
          font-size: 30px;
          color: #353d92;
          padding: 20px; }
        body .main .profile-container .container .profile-details form div .browseImage {
          display: none;
          border-radius: 50%;
          position: absolute;
          bottom: 35px;
          right: 70px;
          cursor: pointer; }
          body .main .profile-container .container .profile-details form div .browseImage:hover {
            display: block; }
        body .main .profile-container .container .profile-details form div.step1 .form-group .file-upload {
          display: inline-block; }
          body .main .profile-container .container .profile-details form div.step1 .form-group .file-upload #user-profile-image {
            width: 275px !important;
            height: 275px !important;
            cursor: pointer; }
          body .main .profile-container .container .profile-details form div.step1 .form-group .file-upload #user-profile-image:hover + .browseImage {
            display: block; }
        body .main .profile-container .container .profile-details form div.step1 .form-group .dob {
          color: #888;
          margin: 0px auto 30px; }
          body .main .profile-container .container .profile-details form div.step1 .form-group .dob i {
            position: absolute;
            right: 25px;
            top: 10px; }
        body .main .profile-container .container .profile-details form div.step1 .form-group .gender,
        body .main .profile-container .container .profile-details form div.step1 .form-group .petownerorlover {
          margin: 0 auto 20px; }
          body .main .profile-container .container .profile-details form div.step1 .form-group .gender i,
          body .main .profile-container .container .profile-details form div.step1 .form-group .petownerorlover i {
            color: #888;
            font-size: 25px; }
        body .main .profile-container .container .profile-details form div.step2 {
          /*
                          @include breakpoint($breakpoint-m) {
                            min-height: 775px;
                          }
          */ }
          body .main .profile-container .container .profile-details form div.step2 .pet-lover-info {
            margin: 0 auto 50px; }
            body .main .profile-container .container .profile-details form div.step2 .pet-lover-info div:not(.input-group) {
              display: inline-table;
              /*@include breakpoint($breakpoint-m) {
                margin: 0 0 65px;
              }*/ }
              body .main .profile-container .container .profile-details form div.step2 .pet-lover-info div:not(.input-group).user-image-holder {
                display: block; }
                body .main .profile-container .container .profile-details form div.step2 .pet-lover-info div:not(.input-group).user-image-holder img {
                  width: 275px !important;
                  height: 275px !important; }
              body .main .profile-container .container .profile-details form div.step2 .pet-lover-info div:not(.input-group) .col-sm-12 {
                margin: 0px auto 95px; }
              body .main .profile-container .container .profile-details form div.step2 .pet-lover-info div:not(.input-group) p {
                display: block;
                margin: 0 0 10px;
                color: #666; }
              body .main .profile-container .container .profile-details form div.step2 .pet-lover-info div:not(.input-group) #userprofession ~ div button {
                width: 205px; }
          body .main .profile-container .container .profile-details form div.step2 .pet-owner-info {
            display: none;
            margin: 0px auto; }
            body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .coverPic {
              margin: 0 auto; }
              body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .coverPic .pet_profile_placeholder {
                display: inline-block; }
                body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .coverPic .pet_profile_placeholder #pet-profile-image {
                  width: 275px !important;
                  height: 275px !important;
                  cursor: pointer; }
                body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .coverPic .pet_profile_placeholder #pet-profile-image:hover + .browseImage {
                  display: block; }
            body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .mask {
              font-size: 22px;
              padding: 60px 10px; }
              body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .mask i {
                font-size: 40px;
                color: #545454; }
            body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details {
              display: none;
              margin: 0 0 110px; }
              @media (min-width: 768px) {
                body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details {
                  margin: 35px 0 65px; } }
              body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) {
                display: inline-table;
                margin: 10px 0 0;
                text-align: left; }
                @media (min-width: 768px) {
                  body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) {
                    margin: 0 0 50px;
                    text-align: center; } }
                body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group).pet-gender div {
                  margin: 0 10px 0 0; }
                body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) p {
                  display: block;
                  margin: 0 0 10px;
                  color: #666; }
                  @media (min-width: 0px) and (max-width: 767px) {
                    body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) p {
                      display: inline-block;
                      margin: 0px 10px 10px 0;
                      width: 90px; } }
                body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) select ~ div {
                  width: 62%; }
                  @media (min-width: 768px) {
                    body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) select ~ div {
                      width: 100%; } }
                  body .main .profile-container .container .profile-details form div.step2 .pet-owner-info .pet-details div:not(.input-group) select ~ div button {
                    width: 100%; }
      body .main .profile-container .container .profile-details form .carousel-controllers {
        margin: 0 auto;
        padding: 20px;
        text-align: center; }
        body .main .profile-container .container .profile-details form .carousel-controllers a,
        body .main .profile-container .container .profile-details form .carousel-controllers button {
          position: relative;
          color: #000;
          text-align: center;
          margin: 0 auto;
          display: inline-block; }
          body .main .profile-container .container .profile-details form .carousel-controllers a.carousel-control-prev,
          body .main .profile-container .container .profile-details form .carousel-controllers button.carousel-control-prev {
            float: left;
            display: none; }
          body .main .profile-container .container .profile-details form .carousel-controllers a.carousel-control-next,
          body .main .profile-container .container .profile-details form .carousel-controllers button.carousel-control-next {
            float: right; }
          body .main .profile-container .container .profile-details form .carousel-controllers a.btn-primary,
          body .main .profile-container .container .profile-details form .carousel-controllers button.btn-primary {
            float: right;
            color: #fff;
            width: auto;
            display: none; }
            @media (min-width: 480px) {
              body .main .profile-container .container .profile-details form .carousel-controllers a.btn-primary,
              body .main .profile-container .container .profile-details form .carousel-controllers button.btn-primary {
                width: 15%; } }
  body footer {
    position: relative; }

/*# sourceMappingURL=create-profile.css.map */
