.feeds-column, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds, body .main .feeds-container .container .col-left .feeds {
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  border-radius: 6px;
  padding: 8px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03); }
  @media (min-width: 768px) {
    .feeds-column, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds, body .main .feeds-container .container .col-left .feeds {
      padding: 8px 5px 8px 8px; } }
  .feeds-column .personal-info .user-image, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .personal-info .user-image, body .main .feeds-container .container .col-left .feeds .personal-info .user-image {
    display: inline-block;
    width: 40%; }
  .feeds-column .personal-info .user-name, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .personal-info .user-name, body .main .feeds-container .container .col-left .feeds .personal-info .user-name {
    display: inline-block;
    font-size: 24px;
    color: #545454;
    width: 55%;
    text-align: center;
    vertical-align: middle; }
  .feeds-column .pet-info, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info, body .main .feeds-container .container .col-left .feeds .pet-info {
    margin-top: 20px; }
    .feeds-column .pet-info .pet-images, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images {
      text-align: center; }
      .feeds-column .pet-info .pet-images p, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images p, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images p {
        color: #545454; }
      .feeds-column .pet-info .pet-images .grid, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 90%;
        float: left; }
        .feeds-column .pet-info .pet-images .grid li, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li {
          list-style-type: none;
          position: relative;
          float: left;
          width: 27.85714285714286%;
          padding: 0 0 32.16760145166612% 0;
          -o-transform: rotate(0deg) skewY(0deg);
          -moz-transform: rotate(0deg) skewY(0deg);
          -webkit-transform: rotate(0deg) skewY(0deg);
          -ms-transform: rotate(0deg) skewY(0deg);
          transform: rotate(0deg) skewY(0deg);
          overflow: hidden;
          visibility: hidden; }
          .feeds-column .pet-info .pet-images .grid li:nth-child(3n+2), body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li:nth-child(3n+2), body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li:nth-child(3n+2) {
            margin: 0 1%; }
          .feeds-column .pet-info .pet-images .grid li:nth-child(6n+4), body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li:nth-child(6n+4), body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li:nth-child(6n+4), .feeds-column .pet-info .pet-images .grid li:nth-child(6n+5), body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li:nth-child(6n+5), body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li:nth-child(6n+5), .feeds-column .pet-info .pet-images .grid li:nth-child(6n+6), body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li:nth-child(6n+6), body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li:nth-child(6n+6) {
            margin-top: -4.9285714285%;
            margin-bottom: -6.9285714285%;
            -o-transform: translateX(52%) rotate(0deg) skewY(0deg);
            -moz-transform: translateX(52%) rotate(0deg) skewY(0deg);
            -webkit-transform: translateX(52%) rotate(0deg) skewY(0deg);
            -ms-transform: translateX(52%) rotate(0deg) skewY(0deg);
            transform: translateX(52%) rotate(0deg) skewY(0deg); }
          .feeds-column .pet-info .pet-images .grid li:nth-child(6n), body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li:nth-child(6n), body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li:nth-child(6n) {
            position: relative;
            margin-top: 22.928571%;
            right: 43%; }
          .feeds-column .pet-info .pet-images .grid li:nth-of-type(n+7), body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li:nth-of-type(n+7), body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li:nth-of-type(n+7) {
            margin: 2.5285714285% 1% auto;
            display: none; }
          .feeds-column .pet-info .pet-images .grid li img, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li img, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li img,
          .feeds-column .pet-info .pet-images .grid li .add-new-pet,
          body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li .add-new-pet,
          body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li .add-new-pet {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-transform: skewY(0deg) rotate(0deg);
            -moz-transform: skewY(0deg) rotate(0deg);
            -webkit-transform: skewY(0deg) rotate(0deg);
            -ms-transform: skewY(0deg) rotate(0deg);
            transform: skewY(0deg) rotate(0deg);
            overflow: hidden;
            cursor: pointer; }
            .feeds-column .pet-info .pet-images .grid li img.add-new-pet, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li img.add-new-pet, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li img.add-new-pet,
            .feeds-column .pet-info .pet-images .grid li .add-new-pet.add-new-pet,
            body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li .add-new-pet.add-new-pet,
            body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li .add-new-pet.add-new-pet {
              font-size: 25px;
              background-color: #ccc;
              color: #fff;
              text-align: center;
              line-height: 59px; }
              .feeds-column .pet-info .pet-images .grid li img.add-new-pet img, body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li img.add-new-pet img, body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li img.add-new-pet img,
              .feeds-column .pet-info .pet-images .grid li .add-new-pet.add-new-pet img,
              body header .header-top-right .mobile-menu #mobileUserInfoMenu .feeds .pet-info .pet-images .grid li .add-new-pet.add-new-pet img,
              body .main .feeds-container .container .col-left .feeds .pet-info .pet-images .grid li .add-new-pet.add-new-pet img {
                width: 50%;
                height: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }

/*User Profile Popup*/
.user-profile-popup .cover-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .cover-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .cover-image,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .cover-image {
  position: relative;
  text-align: center; }
  .user-profile-popup .cover-image img, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .cover-image img, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .cover-image img,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .cover-image img {
    max-width: 97%;
    max-height: 200px;
    width: 100%;
    height: 100%; }
  .user-profile-popup .cover-image .profile-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .cover-image .profile-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image {
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background: #fff; }
    @media (min-width: 480px) {
      .user-profile-popup .cover-image .profile-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .cover-image .profile-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image {
        width: 125px;
        height: 125px; } }
    @media (min-width: 768px) {
      .user-profile-popup .cover-image .profile-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .cover-image .profile-image, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image {
        width: 150px;
        height: 150px; } }
    .user-profile-popup .cover-image .profile-image img, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .cover-image .profile-image img, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .cover-image .profile-image img,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .cover-image .profile-image img {
      width: 90%;
      height: 90%;
      transform: translate(0%, 6%); }
.user-profile-popup .btn-container, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .btn-container, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .btn-container,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .btn-container {
  width: 255px;
  margin: 6px auto; }
  @media (min-width: 480px) {
    .user-profile-popup .btn-container, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .btn-container, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .btn-container {
      width: 275px;
      margin: 10px auto; } }
  @media (min-width: 768px) {
    .user-profile-popup .btn-container, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .btn-container, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .btn-container,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .btn-container {
      width: 288px;
      margin: 20px auto 10px; } }
  .user-profile-popup .btn-container .btn, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .btn-container .btn, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .btn-container .btn,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .btn-container .btn {
    min-width: 100px; }
.user-profile-popup .user-name, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .user-name, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .user-name,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .user-name {
  text-align: center;
  font-size: 20px; }
.user-profile-popup .user-info, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .user-info, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .user-info,
body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .user-info {
  width: 97%;
  margin: 10px auto;
  text-align: center; }
  .user-profile-popup .user-info div, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .user-info div, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .user-info div,
  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .user-info div {
    color: #999; }
    .user-profile-popup .user-info div:last-child, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .user-info div:last-child, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .user-info div:last-child,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .user-info div:last-child {
      border: none; }
    @media (min-width: 768px) {
      .user-profile-popup .user-info div, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .user-info div, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .user-info div,
      body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .user-info div {
        border-right: 2px dashed #ccc; } }
    .user-profile-popup .user-info div span, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu .user-info div span, body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu .user-info div span,
    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu .user-info div span {
      display: block;
      font-size: 25px;
      color: #333; }

.singleImageGallery {
  max-height: 400px; }
  .singleImageGallery a {
    height: 100% !important; }
    .singleImageGallery a img {
      width: auto !important;
      max-height: 100%;
      margin: 0 !important;
      transform: translate(-50%, -50%); }

body {
  background: #b4b4b4 url(../images/bg1.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  body header {
    padding: 10px 0 10px;
    background: #353d92;
    border-bottom: 3px solid #f0ad4e; }
    @media (min-width: 768px) {
      body header {
        padding: 10px 0 0; } }
    body header .header-top-left {
      float: left; }
      body header .header-top-left .logo img {
        width: 40px; }
        @media (min-width: 768px) {
          body header .header-top-left .logo img {
            width: 80%; } }
    body header .header-top-right {
      float: right;
      width: 70%; }
      @media (min-width: 768px) {
        body header .header-top-right {
          width: 37%; } }
      @media (min-width: 992px) {
        body header .header-top-right {
          width: 25%; } }
      body header .header-top-right .notification {
        position: relative;
        font-size: 25px;
        float: left;
        margin-left: 3%;
        cursor: pointer; }
        @media (min-width: 768px) {
          body header .header-top-right .notification {
            margin-left: 0;
            display: inline-block;
            position: relative;
            top: 9px; } }
        body header .header-top-right .notification a#notificationDropdown:after {
          display: none; }
        body header .header-top-right .notification a#notificationDropdown span {
          background-color: #f0ad4e;
          border-radius: 50%;
          color: #353d92;
          font-size: 11px;
          line-height: 14px;
          position: absolute;
          text-align: center;
          top: 10px;
          left: 15px;
          width: 15px;
          font-weight: 900; }
          @media (min-width: 768px) {
            body header .header-top-right .notification a#notificationDropdown span {
              /*font-size: 16px;
              line-height: 25px;
              width: 25px;*/ } }
        body header .header-top-right .notification #notificationDropdownMenu {
          min-width: 300px;
          max-height: 80vH;
          overflow-y: auto; }
          body header .header-top-right .notification #notificationDropdownMenu div {
            border-bottom: 1px solid #eee;
            padding: 10px; }
            body header .header-top-right .notification #notificationDropdownMenu div:last-child {
              border: none !important; }
            body header .header-top-right .notification #notificationDropdownMenu div.unreadNotification {
              background: #c8cbef;
              border-bottom: 1px solid #fff; }
            body header .header-top-right .notification #notificationDropdownMenu div a {
              text-decoration: none;
              font-size: 13px; }
              body header .header-top-right .notification #notificationDropdownMenu div a img {
                width: 32px;
                margin: 0 5px 0 0;
                /*float: left;*/ }
            body header .header-top-right .notification #notificationDropdownMenu div.loading {
              font-size: 20px;
              text-align: center; }
      @media (min-width: 768px) {
        body header .header-top-right .user-name {
          display: inline-block;
          float: right;
          position: relative;
          bottom: 7px; } }
      body header .header-top-right .user-name .prof-name {
        float: left;
        margin-left: 3%;
        position: relative;
        cursor: pointer;
        width: 68%;
        text-align: center; }
        @media (min-width: 480px) {
          body header .header-top-right .user-name .prof-name {
            width: 79%; } }
        @media (min-width: 768px) {
          body header .header-top-right .user-name .prof-name {
            width: 100%;
            margin-left: 0; } }
        body header .header-top-right .user-name .prof-name a:after {
          display: none; }
          @media (min-width: 768px) {
            body header .header-top-right .user-name .prof-name a:after {
              display: inline-block; } }
        body header .header-top-right .user-name .prof-name a .prof-img {
          overflow: hidden;
          margin-top: 2px;
          display: inline-block; }
          @media (min-width: 768px) {
            body header .header-top-right .user-name .prof-name a .prof-img {
              position: relative;
              top: 5px; } }
          body header .header-top-right .user-name .prof-name a .prof-img img {
            width: 35px !important;
            height: 35px !important; }
            @media (min-width: 768px) {
              body header .header-top-right .user-name .prof-name a .prof-img img {
                width: 55px !important;
                height: 55px !important; } }
        body header .header-top-right .user-name .prof-name a span {
          display: none; }
          @media (min-width: 768px) {
            body header .header-top-right .user-name .prof-name a span {
              display: inline; } }
      body header .header-top-right .mobile-menu {
        position: relative;
        font-size: 25px;
        float: left; }
        @media (min-width: 768px) {
          body header .header-top-right .mobile-menu {
            display: none; } }
        body header .header-top-right .mobile-menu a:after {
          display: none; }
        body header .header-top-right .mobile-menu #mobileUserInfoMenu {
          width: 97vw;
          background: #fff; }
  body .alert-container {
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 50%;
    transform: translate(-50%); }
  body .main .feeds-container {
    position: relative;
    padding: 30px 0; }
    @media (min-width: 768px) {
      body .main .feeds-container {
        padding: 75px 0; } }
    @media (min-width: 0px) and (max-width: 992px) {
      body .main .feeds-container .container {
        max-width: none; } }
    body .main .feeds-container .container .col-left {
      width: 30%;
      display: none; }
      @media (min-width: 768px) {
        body .main .feeds-container .container .col-left {
          display: inline-block; } }
      body .main .feeds-container .container .col-left footer .copyright {
        display: none; }
      body .main .feeds-container .container .col-left footer .links {
        margin: 10px auto;
        line-height: 24px; }
        body .main .feeds-container .container .col-left footer .links a {
          font-size: 12px;
          font-weight: 600; }
    body .main .feeds-container .container .col-right {
      width: 100%;
      vertical-align: top;
      display: inline-block;
      float: right;
      margin-bottom: 50px; }
      @media (min-width: 768px) {
        body .main .feeds-container .container .col-right {
          width: 69%; } }
      body .main .feeds-container .container .col-right .post-box {
        display: block;
        padding: 0.375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #8B939B;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        height: 80px;
        margin: 0 auto 10px; }
      body .main .feeds-container .container .col-right .feeds .feeds-container {
        width: 100%;
        padding: 0; }
        body .main .feeds-container .container .col-right .feeds .feeds-container .nav-tabs {
          border-bottom: 1px solid transparent; }
          body .main .feeds-container .container .col-right .feeds .feeds-container .nav-tabs .nav-link {
            background-color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid #ddd; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .nav-tabs .nav-link.active {
              background-color: rgba(255, 255, 255, 0.8);
              border-color: #ddd #ddd transparent; }
        body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content {
          background-color: rgba(255, 255, 255, 0.8);
          padding: 10px 10px 1px;
          border-radius: 0 0 5px 5px; }
          body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .liked {
            color: #007bff; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .liked:hover {
              color: #0056b3; }
          body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .feed-story-notification {
            text-align: center; }
          body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story {
            margin: 0;
            background: rgba(205, 205, 205, 0.5);
            position: relative;
            border-radius: 5px 5px 0 0;
            padding: 20px 20px 5px; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by img {
              width: 50px;
              height: 50px; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info {
              display: inline-block;
              vertical-align: top; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name a {
                text-decoration: none; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name a:after {
                  display: none; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu {
                left: 50%;
                transform: translate(-41%);
                width: 97vw; }
                @media (min-width: 480px) {
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu {
                    transform: translate(-18%);
                    width: 90vw; } }
                @media (min-width: 768px) {
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-by-name .dropdown-menu {
                    width: 500px; } }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .feed-by .feed-by-info .feed-info {
                font-size: 12px;
                color: #8B939B; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .story-desc {
              color: #545454; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer {
              width: 100%;
              margin: 20px 0;
              border-radius: 5px; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a {
                text-decoration: none;
                color: #888; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richImage {
                  overflow: hidden;
                  border: 1px solid #bbb;
                  border-bottom: none;
                  border-radius: 5px 5px 0 0; }
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richImage img {
                    width: 100%;
                    max-height: 400px;
                    min-height: 150px;
                    height: auto;
                    border-radius: 5px 5px 0 0; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richInfo {
                  width: 100%;
                  display: block;
                  padding: 10px 0px;
                  border: 1px solid #bbb;
                  border-top: none;
                  border-radius: 0 0 5px 5px;
                  background: #f1f2f3; }
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richInfo .richTitle,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richInfo .richDescription {
                    padding: 10px; }
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richInfo .richTitle {
                    font-weight: 600;
                    padding-bottom: 0px; }
                    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richInfo .richTitle .link {
                      font-size: 11px;
                      font-weight: normal;
                      overflow: hidden;
                      font-style: italic;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      margin-top: 10px; }
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .richPreviewContainer a .richInfo .richDescription {
                    max-height: 69px;
                    font-size: 12px;
                    overflow: hidden; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery {
              margin-top: 10px; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a {
                cursor: pointer; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a .videoIcon {
                  color: #454545;
                  position: absolute;
                  z-index: 1;
                  font-size: 60px;
                  background: rgba(255, 255, 255, 0.3);
                  width: 100%;
                  height: 100%; }
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a .videoIcon i {
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                    left: 50%;
                    transform: translate(-50%, -50%); }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a .moreImages {
                  color: #fff;
                  position: absolute;
                  z-index: 2;
                  font-size: 25px;
                  background: rgba(0, 0, 0, 0.6);
                  width: 100%;
                  height: 100%; }
                  @media (min-width: 480px) {
                    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a .moreImages {
                      font-size: 35px; } }
                  @media (min-width: 768px) {
                    body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a .moreImages {
                      font-size: 45px; } }
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .image-gallery a .moreImages span {
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                    left: 50%;
                    transform: translate(-50%, -50%); }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .reactions {
              margin: 0 0 10px;
              color: #666; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story .reactions span {
                margin-right: 20px;
                cursor: pointer; }
          body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments {
            margin: 0;
            background: rgba(53, 61, 146, 0.2);
            position: relative;
            border-radius: 0 0 5px 5px;
            padding: 20px 20px 5px;
            -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
            margin-bottom: 12px; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by img,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by img,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by img,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by img {
              width: 40px;
              height: 40px; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info {
              display: inline-block;
              font-size: 14px;
              width: 80%;
              vertical-align: top;
              float: right; }
              @media (min-width: 768px) {
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info {
                  width: 92%; } }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info a,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info a {
                text-decoration: none; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info a:after,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info a:after {
                  display: none; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu {
                left: 50%;
                /*transform: translate(-51%);*/
                width: 97vw; }
                @media (min-width: 480px) {
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu {
                    /*transform: translate(-27%);*/
                    width: 90vw; } }
                @media (min-width: 768px) {
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .dropdown-menu,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .dropdown-menu {
                    width: 500px; } }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info.reply-by-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info.reply-by-info {
                width: 75%; }
                @media (min-width: 768px) {
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info.reply-by-info,
                  body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info.reply-by-info {
                    width: 92%; } }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info.reply-by-info .dropdown-menu,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info.reply-by-info .dropdown-menu {
                            /*transform: translate(-65%);

                            @include breakpoint($breakpoint-s) {
                              transform: translate(-51%);
                            }*/ }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .feed-info,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .feed-info {
                font-size: 11px;
                color: #666;
                margin: -5px 0 5px; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .reactions,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .reactions {
                margin: 10px 0; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .reactions span,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .reactions span {
                  margin-right: 20px;
                  cursor: pointer; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .reply-box,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .reply-box {
                display: none;
                margin: 0 0 1rem; }
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .comment-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-by .reply-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .comment-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .reply-by .reply-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .comment-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-by .reply-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .comment-by-info .reply-box textarea,
                body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .reply-by .reply-by-info .reply-box textarea {
                  height: 32px;
                  overflow: hidden;
                  font-size: 13px; }
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-box,
            body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-box {
              margin: 0 0 1rem; }
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .comments .comment-box textarea,
              body .main .feeds-container .container .col-right .feeds .feeds-container .tab-content .story-comments .reply .comment-box textarea {
                height: 36px;
                overflow: hidden;
                font-size: 14px; }
  body #add-new-story {
    position: fixed;
    background: #353d92;
    color: #fff;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    right: 15px;
    bottom: 15px;
    z-index: 1000; }
  body footer {
    position: relative; }

/*# sourceMappingURL=feeds.css.map */
