#newPetModal .modal-body {
  background-color: #e4e4e4;
  max-height: 75vh;
  overflow-y: scroll;
  /*@include breakpoint($breakpoint-l) {
    max-height: none;
    overflow: auto;
  }*/ }
  #newPetModal .modal-body div {
    text-align: center;
    position: relative; }
  #newPetModal .modal-body .coverPic {
    margin: 0 auto; }
    #newPetModal .modal-body .coverPic .pet_profile_placeholder {
      display: inline-block; }
      #newPetModal .modal-body .coverPic .pet_profile_placeholder #pet-profile-image {
        width: 275px !important;
        height: 275px !important;
        cursor: pointer; }
      #newPetModal .modal-body .coverPic .pet_profile_placeholder .browseImage {
        display: none;
        border-radius: 50%;
        position: absolute;
        bottom: 35px;
        right: 70px;
        cursor: pointer; }
        #newPetModal .modal-body .coverPic .pet_profile_placeholder .browseImage:hover {
          display: block; }
      #newPetModal .modal-body .coverPic .pet_profile_placeholder #pet-profile-image:hover + .browseImage {
        display: block; }
  #newPetModal .modal-body .mask {
    font-size: 22px;
    padding: 60px 10px; }
    #newPetModal .modal-body .mask i {
      font-size: 40px;
      color: #545454; }
  #newPetModal .modal-body .pet-details {
    display: none;
    margin: 0 0 110px; }
    @media (min-width: 768px) {
      #newPetModal .modal-body .pet-details {
        margin: 35px 0 65px; } }
    #newPetModal .modal-body .pet-details div:not(.input-group) {
      display: inline-table;
      margin: 10px 0 0;
      text-align: left; }
      @media (min-width: 768px) {
        #newPetModal .modal-body .pet-details div:not(.input-group) {
          margin: 0 0 50px;
          text-align: center; } }
      #newPetModal .modal-body .pet-details div:not(.input-group).pet-gender div {
        margin: 0 10px 0 0; }
      #newPetModal .modal-body .pet-details div:not(.input-group) p {
        display: block;
        margin: 0 0 10px;
        color: #666; }
        @media (min-width: 0px) and (max-width: 767px) {
          #newPetModal .modal-body .pet-details div:not(.input-group) p {
            display: inline-block;
            margin: 0px 10px 10px 0;
            width: 90px; } }
      #newPetModal .modal-body .pet-details div:not(.input-group) select ~ div {
        width: 62%; }
        @media (min-width: 768px) {
          #newPetModal .modal-body .pet-details div:not(.input-group) select ~ div {
            width: 100%; } }
        #newPetModal .modal-body .pet-details div:not(.input-group) select ~ div button {
          width: 100%; }
#newPetModal .modal-footer button {
  display: none; }

#newFeedModal .modal-body .close {
  margin-bottom: 20px; }
#newFeedModal .modal-body .feed-type {
  margin: 10px;
  text-align: right; }
  #newFeedModal .modal-body .feed-type .switch {
    vertical-align: sub; }
#newFeedModal .modal-body #richPreviewContainer {
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px #888888; }
  #newFeedModal .modal-body #richPreviewContainer .loading {
    font-size: 30px;
    text-align: center;
    padding: 30px; }
  #newFeedModal .modal-body #richPreviewContainer .fa-times-circle {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    border-radius: 25px;
    padding: 1px 2px 0px 0.05em;
    cursor: pointer;
    color: #dc3545;
    font-size: 24px; }
  #newFeedModal .modal-body #richPreviewContainer a {
    text-decoration: none;
    color: #888; }
    #newFeedModal .modal-body #richPreviewContainer a .richImage {
      width: 40%;
      height: 165px;
      display: inline-block;
      overflow: hidden;
      padding: 10px; }
      @media (min-width: 0px) and (max-width: 767px) {
        #newFeedModal .modal-body #richPreviewContainer a .richImage {
          width: 93% !important;
          height: auto !important;
          display: block;
          margin: 0 auto;
          padding: 3% 0; } }
      #newFeedModal .modal-body #richPreviewContainer a .richImage img {
        width: 100%;
        height: 150px;
        border-radius: 5px 0 0 5px; }
        @media (min-width: 0px) and (max-width: 767px) {
          #newFeedModal .modal-body #richPreviewContainer a .richImage img {
            min-height: 200px;
            border-radius: 5px 5px 0 0; } }
    #newFeedModal .modal-body #richPreviewContainer a .richInfo {
      width: 55%;
      display: inline-block;
      vertical-align: top;
      padding: 10px 0px; }
      @media (min-width: 0px) and (max-width: 767px) {
        #newFeedModal .modal-body #richPreviewContainer a .richInfo {
          width: 95%;
          margin: 0 auto;
          display: block;
          padding: 0 0 10px; } }
      #newFeedModal .modal-body #richPreviewContainer a .richInfo .richTitle,
      #newFeedModal .modal-body #richPreviewContainer a .richInfo .richDescription {
        padding: 10px; }
      #newFeedModal .modal-body #richPreviewContainer a .richInfo .richTitle {
        font-weight: 600;
        padding-bottom: 0px; }
        #newFeedModal .modal-body #richPreviewContainer a .richInfo .richTitle .link {
          font-size: 11px;
          font-weight: normal;
          overflow: hidden;
          font-style: italic;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 10px; }
      #newFeedModal .modal-body #richPreviewContainer a .richInfo .richDescription {
        max-height: 69px;
        font-size: 12px;
        overflow: hidden; }
#newFeedModal .modal-body .file-attachment {
  /*Customizimg Image Uploadify*/ }
  #newFeedModal .modal-body .file-attachment .imageuploadify {
    min-height: 90px;
    border-radius: 5px; }
    #newFeedModal .modal-body .file-attachment .imageuploadify .imageuploadify-images-list .fa-cloud-upload,
    #newFeedModal .modal-body .file-attachment .imageuploadify .imageuploadify-images-list .imageuploadify-message {
      display: none; }
    #newFeedModal .modal-body .file-attachment .imageuploadify .imageuploadify-images-list .btn.btn-default {
      border-radius: 5px;
      width: 200px; }
    #newFeedModal .modal-body .file-attachment .imageuploadify .imageuploadify-images-list .imageuploadify-container {
      border-radius: 5px; }
      #newFeedModal .modal-body .file-attachment .imageuploadify .imageuploadify-images-list .imageuploadify-container i {
        margin-top: .1em;
        font-size: inherit; }
      #newFeedModal .modal-body .file-attachment .imageuploadify .imageuploadify-images-list .imageuploadify-container:hover i {
        color: #ccc; }

#feedGalleryModal {
  width: 100%;
  height: 100%;
  overflow: auto; }
  @media (min-width: 0px) and (max-width: 480px) {
    #feedGalleryModal .modal-dialog {
      margin: 0; } }
  #feedGalleryModal .modal-dialog .modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    animation-name: zoom;
    animation-duration: 0.6s; }
    @media (min-width: 480px) {
      #feedGalleryModal .modal-dialog .modal-content {
        width: 95vw;
        height: 80vh; } }
    #feedGalleryModal .modal-dialog .modal-content .modal-body {
      padding: 5px; }
      #feedGalleryModal .modal-dialog .modal-content .modal-body #feedGalleryCarousel {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        #feedGalleryModal .modal-dialog .modal-content .modal-body #feedGalleryCarousel .carousel-inner {
          height: 100%; }
          #feedGalleryModal .modal-dialog .modal-content .modal-body #feedGalleryCarousel .carousel-inner .carousel-item {
            height: 100%; }
            #feedGalleryModal .modal-dialog .modal-content .modal-body #feedGalleryCarousel .carousel-inner .carousel-item img, #feedGalleryModal .modal-dialog .modal-content .modal-body #feedGalleryCarousel .carousel-inner .carousel-item video {
              width: auto;
              max-width: 100%;
              max-height: 100%;
              height: auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
  #feedGalleryModal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 1099; }

/*# sourceMappingURL=feeds-modal.css.map */
