.error label {
  display: none !important; }

body {
  background: #b4b4b4 url(../images/bg1.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  body .main .video-holder {
    position: relative;
    padding: 28px 0; }
    @media (min-width: 0px) and (max-width: 992px) {
      body .main .video-holder .container {
        max-width: none; } }
    body .main .video-holder .container .videoflex {
      margin: 0;
      background: rgba(255, 255, 255, 0.5);
      position: relative;
      border-radius: 6px;
      padding: 8px;
      -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03); }
      @media (min-width: 768px) {
        body .main .video-holder .container .videoflex {
          padding: 8px 5px 8px 8px; } }
      body .main .video-holder .container .videoflex figure {
        position: relative;
        display: inline-block;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
        width: 100%; }
        @media (min-width: 768px) {
          body .main .video-holder .container .videoflex figure {
            width: 65%;
            padding-bottom: 37%; } }
        body .main .video-holder .container .videoflex figure iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0; }
          @media (min-width: 768px) {
            body .main .video-holder .container .videoflex figure iframe {
              border-radius: 5px 0 0 5px; } }
      body .main .video-holder .container .videoflex section {
        width: 100%;
        margin-left: 0px;
        margin-top: 6px;
        display: inline-block;
        border-radius: 0 0 5px 5px;
        padding: 15px;
        vertical-align: top; }
        @media (min-width: 768px) {
          body .main .video-holder .container .videoflex section {
            width: 33.60%;
            border-radius: 0 5px 5px 0;
            margin-left: 6px;
            margin-top: 0px; } }
        body .main .video-holder .container .videoflex section * {
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
        body .main .video-holder .container .videoflex section .contact-form-home h4 {
          text-align: center;
          color: #666;
          margin-bottom: 25px; }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .input {
          margin: 15px 0;
          position: relative; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .input input {
            font-size: 0.9rem;
            padding: .65em 1em; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .input .change-password {
            position: relative;
            width: 10%;
            text-align: right;
            bottom: 29px;
            left: 87%; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .input.error .change-password {
            display: none; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .input .form-text {
            line-height: normal;
            margin: 10px 0;
            color: #5e5f60; }
        @media (min-width: 768px) {
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home form#mobile-login-form {
            display: none; } }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home form#mobile-login-form .input {
          margin: 15px 0 10px; }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home form#mobile-login-form div.forgotPassword {
          padding: 0 0 15px 10px; }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home form#mobile-login-form div.form-check {
          padding: 0 0 0 10px;
          color: #333; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home form#mobile-login-form div.form-check input {
            position: absolute;
            bottom: 1px; }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .signin,
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .signup {
          text-align: center;
          margin: 30px 0 20px; }
          @media (min-width: 768px) {
            body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .signin,
            body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .signup {
              display: none; } }
        @media (min-width: 0px) and (max-width: 767px) {
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .signin {
            display: block; } }
        @media (min-width: 0px) and (max-width: 767px) {
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home form#mobile-login-form,
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .signup {
            display: none; } }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .or {
          border-radius: 5px;
          color: #fff;
          position: relative;
          text-align: center;
          width: 100%;
          margin-top: 9px;
          width: 100%;
          margin-top: 9px;
          float: left;
          margin-bottom: 19px; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .or:after {
            background: #fff none repeat scroll 0 0;
            bottom: 9px;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .or span {
            position: relative;
            bottom: 2px;
            z-index: 10;
            background: #fff;
            color: #000;
            padding: 0 6px;
            border-radius: 8px; }
        body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home {
          color: #fff;
          font-size: 13px;
          text-align: center; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home span {
            display: block; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home #facebook-login {
            display: inline-block;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
            transition: background-color .218s,border-color .218s,box-shadow .218s;
            -webkit-user-select: none;
            -webkit-appearance: none;
            color: #fff;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            position: relative;
            text-align: center;
            white-space: nowrap;
            height: 36px;
            width: 120px;
            background-color: #4267b2;
            border-color: #29487d;
            margin-right: 10px; }
            @media (min-width: 0px) and (max-width: 480px) {
              body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home #facebook-login {
                margin-right: 0px; } }
            body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home #facebook-login div {
              padding: 9px 9px 9px 12px;
              float: left;
              font-size: 18px; }
            body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home #facebook-login span {
              font-size: 13px;
              line-height: 34px;
              letter-spacing: .21px;
              margin-left: 6px;
              margin-right: 6px;
              vertical-align: top; }
          body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home .g-signin2 {
            display: inline-block; }
            body .main .video-holder .container .videoflex section .contact-form-home .cont-form-home .share-home .g-signin2 .abcRioButtonLightBlue {
              border-radius: 5px; }
  body #login .close {
    position: absolute;
    top: 10px;
    right: 15px; }
  body #login input {
    font-size: 0.9rem;
    background-color: #fff; }
    body #login input[type="email"], body #login input[type="password"] {
      margin: 15px 0; }
  body #login .change-password {
    position: relative;
    width: 10%;
    text-align: right;
    top: -40px;
    left: 90%; }
  body #login .form-check {
    margin: -10px 0 20px; }

/*# sourceMappingURL=landing-page.css.map */
