body {
  line-height: 16px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial;
  overflow-x: hidden; }
  body header {
    position: relative;
    background: #353d92;
    color: #fff;
    z-index: 99;
    width: 100%; }
    @media (min-width: 1200px) {
      body header {
        width: 102%; } }
    body header .header-top {
      border-bottom: 3px solid #f0ad4e; }
      body header .header-top .container {
        display: table;
        height: 100%;
        max-width: none;
        padding: 0 5%; }
        body header .header-top .container .header-top-left {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          width: 40%; }
          body header .header-top .container .header-top-left .logo {
            text-align: center; }
            @media (min-width: 480px) {
              body header .header-top .container .header-top-left .logo {
                text-align: left; } }
            body header .header-top .container .header-top-left .logo img {
              margin: 10px 0;
              width: 100%; }
              @media (min-width: 480px) {
                body header .header-top .container .header-top-left .logo img {
                  width: initial; } }
        body header .header-top .container .header-top-right {
          display: table-cell;
          vertical-align: middle;
          text-align: right;
          width: 55%; }
          body header .header-top .container .header-top-right #login-form,
          body header .header-top .container .header-top-right .profileInfo {
            display: none;
            width: 100%;
            /*a{
              display: inline-block;
              margin-right: 7px;
              color: #e3e4f0;

              @include breakpoint($breakpoint-s) {
                display: none;
              }
            }*/ }
            @media (min-width: 768px) {
              body header .header-top .container .header-top-right #login-form,
              body header .header-top .container .header-top-right .profileInfo {
                display: inline-block; } }
            body header .header-top .container .header-top-right #login-form .col-md-4,
            body header .header-top .container .header-top-right .profileInfo .col-md-4 {
              display: inline-block;
              padding: 0;
              margin-top: 10px;
              vertical-align: top; }
              body header .header-top .container .header-top-right #login-form .col-md-4 div,
              body header .header-top .container .header-top-right .profileInfo .col-md-4 div {
                width: 100%;
                text-align: left;
                position: relative; }
                body header .header-top .container .header-top-right #login-form .col-md-4 div input,
                body header .header-top .container .header-top-right .profileInfo .col-md-4 div input {
                  font-size: 0.9rem; }
                body header .header-top .container .header-top-right #login-form .col-md-4 div.forgotPassword, body header .header-top .container .header-top-right #login-form .col-md-4 div.form-check,
                body header .header-top .container .header-top-right .profileInfo .col-md-4 div.forgotPassword,
                body header .header-top .container .header-top-right .profileInfo .col-md-4 div.form-check {
                  padding: 5px 0 0 10px;
                  color: #cdcfd2; }
                body header .header-top .container .header-top-right #login-form .col-md-4 div.forgotPassword a,
                body header .header-top .container .header-top-right .profileInfo .col-md-4 div.forgotPassword a {
                  color: #cdcfd2; }
                body header .header-top .container .header-top-right #login-form .col-md-4 div.form-check input,
                body header .header-top .container .header-top-right .profileInfo .col-md-4 div.form-check input {
                  position: absolute;
                  top: 3px; }
            body header .header-top .container .header-top-right #login-form .col-md-2,
            body header .header-top .container .header-top-right .profileInfo .col-md-2 {
              display: inline-block;
              padding: 0;
              text-align: left;
              vertical-align: top;
              margin-top: 11px; }
            body header .header-top .container .header-top-right #login-form .btn-sm,
            body header .header-top .container .header-top-right .profileInfo .btn-sm {
              padding-top: 5px;
              padding-bottom: 5px;
              margin-left: 10px;
              display: inline-block; }
  body footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f1f2f3;
    text-align: center; }
    @media (min-width: 768px) {
      body footer {
        position: fixed; } }
    @media (min-width: 0px) and (max-width: 992px) {
      body footer .container {
        max-width: none; } }
    body footer .container .links {
      margin: 20px auto;
      line-height: 30px; }
      body footer .container .links a {
        color: #fff;
        border-right: 1px solid #fff; }
        body footer .container .links a:last-child {
          border: none; }
    body footer .container .copyright {
      font-size: 12px;
      color: #bbb; }

.alert-container.container .row {
  position: absolute;
  left: 13px;
  width: 100%;
  top: 10px; }
  .alert-container.container .row .alert {
    margin: 0 auto;
    position: relative;
    top: 0;
    z-index: 999;
    width: 70%; }
  @media (min-width: 768px) {
    .alert-container.container .row {
      left: 50px; } }

.modal#forgot-password .modal-body form div {
  position: relative; }
  .modal#forgot-password .modal-body form div input {
    font-size: 0.9rem;
    padding: .65em 1em;
    margin: 10px 0; }

/*# sourceMappingURL=layout.css.map */
