/* CSS Document */
body {
  font-family: Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial; }

@font-face {
  font-family: 'opensans-bold-webfont';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'balkeno-webfont';
  src: url("../fonts/balkeno-webfont.eot");
  src: url("../fonts/balkeno-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/balkeno-webfont.woff") format("woff"), url("../fonts/balkeno-webfont.woff") format("woff"), url("../fonts/balkeno-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans-extrabold-webfont';
  src: url("../fonts/opensans-extrabold-webfont.eot");
  src: url("../fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/opensans-extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans-regular-webfont';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SapientSansRegular';
  src: url("../fonts/sapisrg_.eot");
  src: url("../fonts/sapisrg_.eot?#iefix") format("embedded-opentype"), url("../fonts/sapisrg_.woff") format("woff"), url("../fonts/sapisrg_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SapientSansBold_gdi';
  src: url("../fonts/SapientSansBold_gdi.eot");
  src: url("../fonts/SapientSansBold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/SapientSansBold_gdi.woff") format("woff"), url("../fonts/SapientSansBold_gdi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SapientSansLight';
  src: url("../fonts/sapisl__.eot");
  src: url("../fonts/sapisl__.eot?#iefix") format("embedded-opentype"), url("../fonts/sapisl__.woff") format("woff"), url("../fonts/sapisl__.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SapientSansMedium';
  src: url("../fonts/sapism_.eot");
  src: url("../fonts/sapism_.eot?#iefix") format("embedded-opentype"), url("../fonts/sapism_.woff") format("woff"), url("../fonts/sapism_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans-italic-webfont';
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic-webfont.woff") format("woff"), url("../fonts/opensans-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*Tooltip Custom Mixin*/
/*Styles for predefined Tooltip Custom Classes*/
.tooltip-primary .tooltip-inner {
  background-color: #0275d8; }
.tooltip-primary.tooltip-top .tooltip-inner::before, .tooltip-primary.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #0275d8; }
.tooltip-primary.tooltip-right .tooltip-inner::before, .tooltip-primary.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #0275d8; }
.tooltip-primary.tooltip-bottom .tooltip-inner::before, .tooltip-primary.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #0275d8; }
.tooltip-primary.tooltip-left .tooltip-inner::before, .tooltip-primary.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #0275d8; }
.tooltip-primary.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-primary.bs-tooltip-top .arrow::before {
  border-top-color: #0275d8 !important; }
.tooltip-primary.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-primary.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #0275d8 !important; }
.tooltip-primary.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-primary.bs-tooltip-left .arrow::before {
  border-left-color: #0275d8 !important; }
.tooltip-primary.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-primary.bs-tooltip-right .arrow::before {
  border-right-color: #0275d8 !important; }

.tooltip-success .tooltip-inner {
  background-color: #5cb85c; }
.tooltip-success.tooltip-top .tooltip-inner::before, .tooltip-success.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #5cb85c; }
.tooltip-success.tooltip-right .tooltip-inner::before, .tooltip-success.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #5cb85c; }
.tooltip-success.tooltip-bottom .tooltip-inner::before, .tooltip-success.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #5cb85c; }
.tooltip-success.tooltip-left .tooltip-inner::before, .tooltip-success.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #5cb85c; }
.tooltip-success.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-success.bs-tooltip-top .arrow::before {
  border-top-color: #5cb85c !important; }
.tooltip-success.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-success.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #5cb85c !important; }
.tooltip-success.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-success.bs-tooltip-left .arrow::before {
  border-left-color: #5cb85c !important; }
.tooltip-success.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-success.bs-tooltip-right .arrow::before {
  border-right-color: #5cb85c !important; }

.tooltip-info .tooltip-inner {
  background-color: #5bc0de; }
.tooltip-info.tooltip-top .tooltip-inner::before, .tooltip-info.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #5bc0de; }
.tooltip-info.tooltip-right .tooltip-inner::before, .tooltip-info.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #5bc0de; }
.tooltip-info.tooltip-bottom .tooltip-inner::before, .tooltip-info.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #5bc0de; }
.tooltip-info.tooltip-left .tooltip-inner::before, .tooltip-info.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #5bc0de; }
.tooltip-info.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-info.bs-tooltip-top .arrow::before {
  border-top-color: #5bc0de !important; }
.tooltip-info.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-info.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #5bc0de !important; }
.tooltip-info.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-info.bs-tooltip-left .arrow::before {
  border-left-color: #5bc0de !important; }
.tooltip-info.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-info.bs-tooltip-right .arrow::before {
  border-right-color: #5bc0de !important; }

.tooltip-warning .tooltip-inner {
  background-color: #f0ad4e; }
.tooltip-warning.tooltip-top .tooltip-inner::before, .tooltip-warning.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #f0ad4e; }
.tooltip-warning.tooltip-right .tooltip-inner::before, .tooltip-warning.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #f0ad4e; }
.tooltip-warning.tooltip-bottom .tooltip-inner::before, .tooltip-warning.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #f0ad4e; }
.tooltip-warning.tooltip-left .tooltip-inner::before, .tooltip-warning.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #f0ad4e; }
.tooltip-warning.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-warning.bs-tooltip-top .arrow::before {
  border-top-color: #f0ad4e !important; }
.tooltip-warning.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-warning.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f0ad4e !important; }
.tooltip-warning.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-warning.bs-tooltip-left .arrow::before {
  border-left-color: #f0ad4e !important; }
.tooltip-warning.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-warning.bs-tooltip-right .arrow::before {
  border-right-color: #f0ad4e !important; }

.tooltip-danger .tooltip-inner {
  background-color: #d9534f; }
.tooltip-danger.tooltip-top .tooltip-inner::before, .tooltip-danger.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #d9534f; }
.tooltip-danger.tooltip-right .tooltip-inner::before, .tooltip-danger.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #d9534f; }
.tooltip-danger.tooltip-bottom .tooltip-inner::before, .tooltip-danger.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #d9534f; }
.tooltip-danger.tooltip-left .tooltip-inner::before, .tooltip-danger.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #d9534f; }
.tooltip-danger.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-danger.bs-tooltip-top .arrow::before {
  border-top-color: #d9534f !important; }
.tooltip-danger.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-danger.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #d9534f !important; }
.tooltip-danger.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-danger.bs-tooltip-left .arrow::before {
  border-left-color: #d9534f !important; }
.tooltip-danger.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-danger.bs-tooltip-right .arrow::before {
  border-right-color: #d9534f !important; }

/*Styles for Tooltip Custom Classes*/
.tooltip-custom .tooltip-inner {
  background-color: #f2653c; }
.tooltip-custom.tooltip-top .tooltip-inner::before, .tooltip-custom.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #f2653c; }
.tooltip-custom.tooltip-right .tooltip-inner::before, .tooltip-custom.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #f2653c; }
.tooltip-custom.tooltip-bottom .tooltip-inner::before, .tooltip-custom.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #f2653c; }
.tooltip-custom.tooltip-left .tooltip-inner::before, .tooltip-custom.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #f2653c; }
.tooltip-custom.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-custom.bs-tooltip-top .arrow::before {
  border-top-color: #f2653c !important; }
.tooltip-custom.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-custom.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f2653c !important; }
.tooltip-custom.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-custom.bs-tooltip-left .arrow::before {
  border-left-color: #f2653c !important; }
.tooltip-custom.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-custom.bs-tooltip-right .arrow::before {
  border-right-color: #f2653c !important; }

.tooltip-custom-alt .tooltip-inner {
  background-color: #5b2da3; }
.tooltip-custom-alt.tooltip-top .tooltip-inner::before, .tooltip-custom-alt.bs-tether-element-attached-bottom .tooltip-inner::before {
  border-top-color: #5b2da3; }
.tooltip-custom-alt.tooltip-right .tooltip-inner::before, .tooltip-custom-alt.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #5b2da3; }
.tooltip-custom-alt.tooltip-bottom .tooltip-inner::before, .tooltip-custom-alt.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color: #5b2da3; }
.tooltip-custom-alt.tooltip-left .tooltip-inner::before, .tooltip-custom-alt.bs-tether-element-attached-right .tooltip-inner::before {
  border-left-color: #5b2da3; }
.tooltip-custom-alt.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip-custom-alt.bs-tooltip-top .arrow::before {
  border-top-color: #5b2da3 !important; }
.tooltip-custom-alt.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip-custom-alt.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #5b2da3 !important; }
.tooltip-custom-alt.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip-custom-alt.bs-tooltip-left .arrow::before {
  border-left-color: #5b2da3 !important; }
.tooltip-custom-alt.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip-custom-alt.bs-tooltip-right .arrow::before {
  border-right-color: #5b2da3 !important; }

.error input {
  border: 1px solid #ca1425;
  color: #ca1425; }
  .error input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ca1425; }
  .error input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ca1425; }
  .error input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ca1425; }
  .error input:-moz-placeholder {
    /* Firefox 18- */
    color: #ca1425; }
.error label {
  color: #ca1425;
  /*position: absolute;
  bottom: 0;
  font-size: 0.7em;
  width: 50%;
  right: 10px;
  text-align: right;
  background: #fff;
  line-height: 12px;
  padding-left: 5px;*/ }

label.error {
  color: #ca1425; }

input.error {
  border: 1px solid #ca1425;
  color: #ca1425; }
  input.error::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ca1425; }
  input.error::-moz-placeholder {
    /* Firefox 19+ */
    color: #ca1425; }
  input.error:-ms-input-placeholder {
    /* IE 10+ */
    color: #ca1425; }
  input.error:-moz-placeholder {
    /* Firefox 18- */
    color: #ca1425; }

textarea.error {
  border: 1px solid #ca1425;
  color: #ca1425; }
  textarea.error::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ca1425; }
  textarea.error::-moz-placeholder {
    /* Firefox 19+ */
    color: #ca1425; }
  textarea.error:-ms-input-placeholder {
    /* IE 10+ */
    color: #ca1425; }
  textarea.error:-moz-placeholder {
    /* Firefox 18- */
    color: #ca1425; }

button {
  cursor: pointer; }
  button.disable {
    pointer-events: none;
    opacity: 0.6; }

/*CSS for hexagon*/
.hexagon {
  max-width: 100%;
  height: auto;
  -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%); }

/*SVG Classes for Hexagon(use class polygon-clip-hexagon on elements)*/
.clip-svg,
.clip-svg-pointed-top {
  width: 0;
  height: 0; }

.polygon-clip-hexagon {
  max-width: 100%;
  height: auto;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: url("#polygon-clip-hexagon");
  clip-path: url("#polygon-clip-hexagon"); }

.polygon-clip-hexagon-pointed-top {
  max-width: 100%;
  height: auto;
  position: relative;
  -webkit-clip-path: url("#polygon-clip-hexagon-pointed-top");
  clip-path: url("#polygon-clip-hexagon-pointed-top"); }

/*CSS for global Datepicker*/
.picked {
  color: #fff !important;
  background-color: #7178c6 !important; }

.highlighted {
  color: #fff !important;
  background-color: #353d92 !important; }
  .highlighted:hover {
    background-color: #7178c6 !important; }

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #353d92 !important; }
  .datepicker-top-left::before,
  .datepicker-top-right::before {
    border-top-color: #353d92 !important; }

.datepicker-container {
  z-index: 9999 !important; }

/*CSS for multiselect Container*/
.multiselect-container li a label {
  padding: 3px 10px !important; }
.multiselect-container .multiselect-item.filter .input-group {
  width: 96% !important; }

.imageToBeCroppedContainer {
  max-height: 70vh; }
  .imageToBeCroppedContainer img {
    max-width: 100% !important; }
  .imageToBeCroppedContainer .cropper-view-box,
  .imageToBeCroppedContainer .cropper-face {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: url("#polygon-clip-hexagon");
    clip-path: url("#polygon-clip-hexagon"); }

/*CSS for Loader*/
#loader {
  position: absolute;
  z-index: 105;
  display: none; }
  #loader div {
    background-color: #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 40px;
    text-align: center; }
    #loader div i {
      position: relative;
      top: 40%; }

/*CSS for Switch Toggle Button*/
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  margin: 0; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background-color: #007bff; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    .switch input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #52a5ff;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }
    .switch .slider.round {
      border-radius: 34px; }
      .switch .slider.round:before {
        border-radius: 50%; }

/*Centering the modal Box*/
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2)); }
  @media (min-width: 768px) {
    .modal-dialog-centered {
      min-height: calc(100% - (1.75rem * 2)); } }

/*Zoom In Zoom Out Animations*/
.zoomIn {
  display: block;
  animation-name: zoom;
  animation-duration: 0.6s; }

.zoomOut {
  animation-name: zoom-out;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes zoom-out {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }
/*Lazy Loading CSS*/
.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto 10px;
  /*max-width: 472px;*/
  min-height: 200px; }
  .timeline-item .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative; }
    .timeline-item .animated-background .background-masker {
      background: #fff;
      position: absolute;
      /* Every thing below this is just positioning */ }
      .timeline-item .animated-background .background-masker.header-top, .timeline-item .animated-background .background-masker.header-bottom, .timeline-item .animated-background .background-masker.subheader-bottom {
        top: 0;
        left: 40px;
        right: 0;
        height: 10px; }
      .timeline-item .animated-background .background-masker.header-left, .timeline-item .animated-background .background-masker.subheader-left, .timeline-item .animated-background .background-masker.header-right, .timeline-item .animated-background .background-masker.subheader-right {
        top: 10px;
        left: 40px;
        height: 8px;
        width: 10px; }
      .timeline-item .animated-background .background-masker.header-bottom {
        top: 18px;
        height: 6px; }
      .timeline-item .animated-background .background-masker.subheader-left, .timeline-item .animated-background .background-masker.subheader-right {
        top: 24px;
        height: 6px; }
      .timeline-item .animated-background .background-masker.header-right, .timeline-item .animated-background .background-masker.subheader-right {
        width: auto;
        left: 300px;
        right: 0; }
      .timeline-item .animated-background .background-masker.subheader-right {
        left: 230px; }
      .timeline-item .animated-background .background-masker.subheader-bottom {
        top: 30px;
        height: 10px; }
      .timeline-item .animated-background .background-masker.content-top, .timeline-item .animated-background .background-masker.content-second-line, .timeline-item .animated-background .background-masker.content-third-line, .timeline-item .animated-background .background-masker.content-second-end, .timeline-item .animated-background .background-masker.content-third-end, .timeline-item .animated-background .background-masker.content-first-end {
        top: 40px;
        left: 0;
        right: 0;
        height: 6px; }
      .timeline-item .animated-background .background-masker.content-top {
        height: 20px; }
      .timeline-item .animated-background .background-masker.content-first-end, .timeline-item .animated-background .background-masker.content-second-end, .timeline-item .animated-background .background-masker.content-third-end {
        width: auto;
        left: 380px;
        right: 0;
        top: 60px;
        height: 8px; }
      .timeline-item .animated-background .background-masker.content-second-line {
        top: 68px; }
      .timeline-item .animated-background .background-masker.content-second-end {
        left: 420px;
        top: 74px; }
      .timeline-item .animated-background .background-masker.content-third-line {
        top: 82px; }
      .timeline-item .animated-background .background-masker.content-third-end {
        left: 300px;
        top: 88px; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

/*# sourceMappingURL=main.css.map */
