
// Breakpoints - Standard - Start from
$breakpoint-xs: 320px;
$breakpoint-s: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;

// Breakpoints - Upto range
$breakpoint-xs-max: 0px 480px;
$breakpoint-s-max: 0px 767px;
$breakpoint-m-max: 0px 992px;
$breakpoint-l-max: 0px 1200px;

//== Some Bootstrap variables for Tooltips
//
//##

// the following lines can be deleted if the variables are already declared
$white:                #fff;
$red:                  #d9534f;
$orange:               #f0ad4e;
$green:                #5cb85c;
$blue:                 #0275d8;
$teal:                 #5bc0de;

$brand-primary:         $blue;
$brand-success:         $green;
$brand-info:            $teal;
$brand-warning:         $orange;
$brand-danger:          $red;

//
$tooltip-color:         $white;

//
// Tooltip primary background color
$tooltip-primary-bg:        $brand-primary !default;
// Tooltip success background color
$tooltip-success-bg:        $brand-success !default;
// Tooltip info background color
$tooltip-info-bg:           $brand-info !default;
// Tooltip warning background color
$tooltip-warning-bg:        $brand-warning !default;
// Tooltip danger background color
$tooltip-danger-bg:         $brand-danger !default;

