@import "library/breakpoint";
@import "_variables";

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include breakpoint($breakpoint-m) {
      width: 750px;
    }

    @include breakpoint($breakpoint-l) {
      width: 970px;
    }

    @include breakpoint($breakpoint-l) {
      width: 1170px;
    }
}