@import "library/breakpoint";
@import "_variables";

body{
  background: #b4b4b4 url(../images/create-profile-bg.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  header {
    background: transparent;
    padding-top: 16px;

    .header-top-left{
      float: left;
    }

    .header-top-right {
      float: right;

      .notification {
        position: relative;
        width: 36px;
        float: left; margin-top:14px;
      
        span {
          background: #7357cc none repeat scroll 0 0;
          border-radius: 50%;
          color: #fff;
          font-size: 11px;
          height: 15px;
          line-height: 12px;
          position: absolute;
          right: 3px;
          text-align: center;
          top: -11px;
          width: 15px;
        }
      }

      .user-name {
        float: right;
        padding: 5px 0 0;

        .prof-img {
          float: left;
          overflow: hidden;

          img{
            width: 55px !important; 
            height: 55px !important;
          }
        }

        .prof-name {
          float: left;
          margin-left: 10px;
          margin-top: 15px;
          position:relative; 
          cursor:pointer;
        }
      }
    }
  }

  .main{
    
    .profile-container{
      position: relative;
      padding: 28px 0;
      
      .container{

        @include breakpoint($breakpoint-m-max) {
          max-width: none;
        }

        .profile-details{
          margin: 0;
          background: rgba(255, 255, 255, 0.5);
          position: relative;
          border-radius: 6px;
          padding: 8px;
          -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);

          @include breakpoint($breakpoint-m) {
            padding: 8px 5px 8px 8px;
          }

          form{

            div{
              text-align: center;
              position: relative;

              &.carousel-inner{
                overflow-y: visible;
              }

              .formHeader{
                font-size: 30px;
                color: #353d92;
                padding: 20px;
              }

              .browseImage{
                display: none;
                border-radius: 50%;
                position: absolute;
                bottom: 35px;
                right: 70px;
                cursor: pointer;

                &:hover{
                  display: block;
                }
              }

              &.step1{

                .form-group{

                  .file-upload{
                    display: inline-block;

                    #user-profile-image{
                      width: 275px !important;
                      height: 275px !important;
                      cursor: pointer;
                    }

                    #user-profile-image:hover+.browseImage{
                      display: block;
                    }
                  }

                  .dob{
                    color: #888;
                    margin: 0px auto 30px;

                    i{
                      position: absolute;
                      right: 25px;
                      top: 10px;
                    }
                  }

                  .gender,
                  .petownerorlover{
                    margin: 0 auto 20px;

                    i{
                      color: #888;
                      font-size: 25px;
                    }
                  }
                }
              }

              &.step2{
/*
                @include breakpoint($breakpoint-m) {
                  min-height: 775px;
                }
*/

                .pet-lover-info{
                  margin: 0 auto 50px;

                  div:not(.input-group){
                    display: inline-table;

                    /*@include breakpoint($breakpoint-m) {
                      margin: 0 0 65px;
                    }*/

                    &.user-image-holder{
                      display: block;

                      img{
                        width: 275px !important;
                        height: 275px !important;
                      }
                    }

                    .col-sm-12{
                      margin: 0px auto 95px;
                    }

                    p{
                      display: block;
                      margin: 0 0 10px;
                      color: #666;
                    }

                    #userprofession ~ div{
                      button{
                        width: 205px;
                      }
                    }
                  }
                }

                .pet-owner-info{
                  display: none;
                  margin: 0px auto;

                  .coverPic{
                    margin: 0 auto;

                    .pet_profile_placeholder{
                      display: inline-block;

                      #pet-profile-image{
                        width: 275px !important;
                        height: 275px !important;
                        cursor: pointer;
                      }

                      #pet-profile-image:hover+.browseImage{
                        display: block;
                      }
                    }
                  }

                  .mask{
                    font-size: 22px;
                    padding: 60px 10px;

                    i{
                      font-size: 40px;
                      color: #545454;
                    }
                  }

                  .pet-details{
                    display: none;
                    margin: 0 0 110px;

                    @include breakpoint($breakpoint-m) {
                      margin: 35px 0 65px;
                    }

                    div:not(.input-group){
                      display: inline-table;
                      margin: 10px 0 0;
                      text-align: left;

                      @include breakpoint($breakpoint-m) {
                        margin: 0 0 50px;
                        text-align: center;
                      }

                      &.pet-gender{
                        
                        div{
                          margin: 0 10px 0 0;
                        }
                      }

                      p{
                        display: block;
                        margin: 0 0 10px;
                        color: #666;

                        @include breakpoint($breakpoint-s-max) {
                          display: inline-block;
                          margin: 0px 10px 10px 0;
                          width: 90px;
                        }
                      }

                      select ~ div{
                        width: 62%;

                        @include breakpoint($breakpoint-m) {
                          width: 100%;
                        }

                        button{
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }

            .carousel-controllers{
              margin: 0 auto;
              padding: 20px;
              text-align: center;

              a,
              button{
                position: relative;
                color: #000;
                text-align: center;
                margin: 0 auto;
                display: inline-block;

                &.carousel-control-prev{
                  float: left;
                  display: none;
                }

                &.carousel-control-next{
                  float: right;
                }

                &.btn-primary{
                  float: right;
                  color: #fff;
                  width: auto;
                  display: none;

                  @include breakpoint($breakpoint-s) {
                    width: 15%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer{
    position: relative;
  }
}