@import "library/breakpoint";
@import "_variables";

.feeds-column{
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  border-radius: 6px;
  padding: 8px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);

  @include breakpoint($breakpoint-m) {
    padding: 8px 5px 8px 8px;
  }

  .personal-info{
    .user-image{
      display: inline-block;
      width: 40%;
    }

    .user-name{
      display: inline-block;
      font-size: 24px;
      color: #545454;
      width: 55%;
      text-align: center;
      vertical-align: middle;
    }
  }

  .pet-info{
    margin-top: 20px;

    .pet-images{
      text-align: center;

      p{
        color: #545454;
      }

      .grid{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 90%;
        float: left;

        li{
          list-style-type: none;
          position: relative;
          float: left;
          width: 27.85714285714286%;
          padding: 0 0 32.16760145166612% 0;
          -o-transform: rotate(0deg) skewY(0deg);
          -moz-transform: rotate(0deg) skewY(0deg);
          -webkit-transform: rotate(0deg) skewY(0deg);
          -ms-transform: rotate(0deg) skewY(0deg);
          transform: rotate(0deg) skewY(0deg);
          overflow: hidden;
          visibility: hidden;

          &:nth-child(3n+2) {
            margin: 0 1%;
          }

          &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6) {
            margin-top: -4.9285714285%;
            margin-bottom: -6.9285714285%;
            -o-transform: translateX(52%) rotate(0deg) skewY(0deg);
            -moz-transform: translateX(52%) rotate(0deg) skewY(0deg);
            -webkit-transform: translateX(52%) rotate(0deg) skewY(0deg);
            -ms-transform: translateX(52%) rotate(0deg) skewY(0deg);
            transform: translateX(52%) rotate(0deg) skewY(0deg);
          }

          &:nth-child(6n){
            position: relative;
            margin-top: 22.928571%;
            right: 43%;
          }

          &:nth-of-type(n+7) {
            margin: 2.5285714285% 1% auto;
            display: none;
          }

          img,
          .add-new-pet{
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-transform: skewY(0deg) rotate(0deg);
            -moz-transform: skewY(0deg) rotate(0deg);
            -webkit-transform: skewY(0deg) rotate(0deg);
            -ms-transform: skewY(0deg) rotate(0deg);
            transform: skewY(0deg) rotate(0deg);
            overflow: hidden;
            cursor: pointer;

            &.add-new-pet{
              font-size: 25px;
              background-color: #ccc;
              color: #fff;
              text-align: center;
              line-height: 59px;

              img{
                width: 50%;
                height: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }
      }
    }
  }
}

/*User Profile Popup*/

.user-profile-popup{

  .cover-image{
    position: relative;
    text-align: center;

    img{
      max-width: 97%;
      max-height: 200px;
      width: 100%;
      height: 100%;
    }

    .profile-image{
      position: absolute;
      left: 50%;
      width: 100px;
      height: 100px;
      transform: translate(-50%, -50%);
      background: #fff;

      @include breakpoint($breakpoint-s) {
        width: 125px;
        height: 125px;
      }

      @include breakpoint($breakpoint-m) {
        width: 150px;
        height: 150px;
      }

      img{
        width: 90%;
        height: 90%;
        transform: translate(0%,6%);
      }
    }
  }

  .btn-container{
    width: 255px;
    margin: 6px auto;

    @include breakpoint($breakpoint-s) {
      width: 275px;
      margin: 10px auto;
    }

    @include breakpoint($breakpoint-m) {
      width: 288px;
      margin: 20px auto 10px;
    }

    .btn{
      min-width: 100px;
    }
  }

  .user-name{
    text-align: center;
    font-size: 20px;
  }

  .user-info{
    width: 97%;
    margin: 10px auto;
    text-align: center;

    div{
      color: #999;

      &:last-child{
        border: none;
      }

      @include breakpoint($breakpoint-m) {
        border-right: 2px dashed #ccc;
      }

      span{
        display: block;
        font-size: 25px;
        color: #333;
      }
    }
  }
}

.singleImageGallery{
  max-height: 400px;

  a{
    height: 100% !important;

    img{
      width: auto !important;
      max-height: 100%;
      margin: 0 !important;
      transform: translate(-50%,-50%);
    }
  }
}

body{
  background: #b4b4b4 url(../images/bg1.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  header {
    padding: 10px 0 10px;
    background: #353d92;
    border-bottom: 3px solid #f0ad4e;

    @include breakpoint($breakpoint-m) {
      padding: 10px 0 0;
    }

    .header-top-left{
      float: left;

      .logo{
        img{
          width: 40px;

          @include breakpoint($breakpoint-m) {
            width: 80%;
          }
        }
      }
    }

    .header-top-right {
      float: right;
      width: 70%;

      @include breakpoint($breakpoint-m) {
        width: 37%;
      }

      @include breakpoint($breakpoint-l) {
        width: 25%;
      }

      .notification {
        position: relative;
        font-size: 25px;
        float: left;
        margin-left: 3%; 
        cursor: pointer;

        @include breakpoint($breakpoint-m) {
          margin-left: 0; 
          display: inline-block;
          position: relative;
          top: 9px;
        }

        a#notificationDropdown{
          &:after{
            display: none;
          }

          span {
            background-color: #f0ad4e;
            border-radius: 50%;
            color: #353d92;
            font-size: 11px;
            line-height: 14px;
            position: absolute;
            text-align: center;
            top: 10px;
            left: 15px;
            width: 15px;
            font-weight: 900;

            @include breakpoint($breakpoint-m) {
              /*font-size: 16px;
              line-height: 25px;
              width: 25px;*/
            }
          }
        }

        #notificationDropdownMenu{
          min-width: 300px;
          max-height: 80vH;
          overflow-y: auto;

          div{
            border-bottom: 1px solid #eee;
            padding: 10px;

            &:last-child{
              border: none !important;
            }

            &.unreadNotification{
              background: #c8cbef;
              border-bottom: 1px solid #fff;
            }

            a{
              text-decoration: none;
              font-size: 13px;

              img{
                width: 32px;
                margin: 0 5px 0 0;
                /*float: left;*/
              }
            }

            &.loading{
              font-size: 20px;
              text-align: center;
            }
          }
        }
      }

      .user-name {

        @include breakpoint($breakpoint-m) {
          display: inline-block;
          float: right;
          position: relative;
          bottom: 7px;
        }

        .prof-name {
          float: left;
          margin-left: 3%;
          position: relative; 
          cursor: pointer;
          width: 68%;
          text-align: center;

          @include breakpoint($breakpoint-s) {
            width: 79%;
          }

          @include breakpoint($breakpoint-m) {
            width: 100%;
            margin-left: 0;
          }

          a{

            &:after{
              display: none;

              @include breakpoint($breakpoint-m) {
                display: inline-block;
              }
            }

            .prof-img {
              overflow: hidden;
              margin-top: 2px;
              display: inline-block;

              @include breakpoint($breakpoint-m) {
                position: relative;
                top: 5px;
              }

              img{
                width: 35px !important; 
                height: 35px !important;

                @include breakpoint($breakpoint-m) {
                  width: 55px !important; 
                  height: 55px !important;
                }
              }
            }

            span{
              display: none;

              @include breakpoint($breakpoint-m) {
                display: inline;
              }
            }
          }
        }
      }

      .mobile-menu{
        position: relative;
        font-size: 25px;
        float: left;

        @include breakpoint($breakpoint-m) {
          display: none;
        }

        a{

          &:after{
            display: none;
          }
        }

        #mobileUserInfoMenu{
          width: 97vw;
          background: #fff;

          .feeds{
            @extend .feeds-column;
          }
        }
      }
    }
  }

  .alert-container{
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .main{
    
    .feeds-container{
      position: relative;
      padding: 30px 0;

      @include breakpoint($breakpoint-m) {
        padding: 75px 0;
      }
      
      .container{

        @include breakpoint($breakpoint-m-max) {
          max-width: none;
        }

        .col-left{
          width: 30%;
          display: none;

          @include breakpoint($breakpoint-m) {
            display: inline-block;
          }

          .feeds{
            @extend .feeds-column;
          }

          footer{
            .copyright{
              display: none;
            }

            .links {
              margin: 10px auto;
              line-height: 24px;

              a{
                font-size: 12px;
                font-weight: 600;
              }
            }
          }
        }

        .col-right{
          width:  100%;
          vertical-align: top;
          display: inline-block;
          float: right;
          margin-bottom: 50px;

          @include breakpoint($breakpoint-m) {
            width: 69%;
          }

          .post-box{
            display: block;
            padding: 0.375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #8B939B;
            background-color: #fff;
            background-image: none;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            height: 80px;
            margin: 0 auto 10px;
          }

          .feeds{


            .feeds-container{
              width: 100%;
              padding: 0;

              .nav-tabs{
                border-bottom: 1px solid transparent;

                .nav-link{
                  background-color: rgba(255,255,255, 0.6);
                  border-bottom: 1px solid #ddd;

                  &.active{
                    background-color: rgba(255,255,255, 0.8);
                    border-color: #ddd #ddd transparent;
                  }
                }
              }

              .tab-content{
                background-color: rgba(255,255,255, 0.8);
                padding: 10px 10px 1px;
                border-radius: 0 0 5px 5px;

                .liked{
                  color: #007bff;

                  &:hover{
                    color: #0056b3;
                  }
                }

                .feed-story-notification{
                  text-align: center;
                }

                .story{
                  margin: 0;
                  background: rgba(205, 205, 205, 0.5);
                  position: relative;
                  border-radius: 5px 5px 0 0;
                  padding: 20px 20px 5px;

                  .feed-by{

                    img{
                      width: 50px;
                      height: 50px;
                    }

                    .feed-by-info{
                      display: inline-block;
                      vertical-align: top;

                      .feed-by-name{
                        a{
                          text-decoration: none;

                          &:after{
                            display: none;
                          }
                        }

                        .dropdown-menu{
                          left: 50%;
                          transform: translate(-41%);
                          width: 97vw;

                          @include breakpoint($breakpoint-s) {
                            transform: translate(-18%);
                            width: 90vw;
                          }

                          @include breakpoint($breakpoint-m) {
                            width: 500px;
                          }

                          @extend .user-profile-popup;
                        }
                      }

                      .feed-info{
                        font-size: 12px;
                        color: #8B939B;
                      }
                    }
                  }

                  .story-desc{
                    color: #545454;
                  }

                  .richPreviewContainer{
                    width: 100%;
                    margin: 20px 0;
                    border-radius: 5px;

                    a{
                      text-decoration: none;
                      color: #888;

                      .richImage{
                        overflow: hidden;
                        border: 1px solid #bbb;
                        border-bottom: none;
                        border-radius: 5px 5px 0 0;

                        img{
                          width: 100%;
                          max-height: 400px;
                          min-height: 150px;
                          height: auto;
                          border-radius: 5px 5px 0 0;
                        }
                      }

                      .richInfo{
                        width: 100%;
                        display: block;
                        padding: 10px 0px;
                        border: 1px solid #bbb;
                        border-top: none;
                        border-radius: 0 0 5px 5px;
                        background: #f1f2f3;

                        .richTitle,
                        .richDescription{
                          padding: 10px;
                        }

                        .richTitle{
                          font-weight: 600;
                          padding-bottom: 0px;

                          .link{
                            font-size: 11px;
                            font-weight: normal;
                            overflow: hidden;
                            font-style: italic;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin-top: 10px;
                          }
                        }
                        
                        .richDescription{
                          max-height: 69px;
                          font-size: 12px;
                          overflow: hidden;
                        }
                      }
                    } 
                  }

                  .image-gallery{
                    margin-top: 10px;

                    a{
                      cursor: pointer;

                      .videoIcon{
                        color: #454545;
                        position: absolute;
                        z-index: 1;
                        font-size: 60px;
                        background: rgba(255, 255, 255, 0.3);
                        width: 100%;
                        height: 100%;

                        i{
                          position: absolute;
                          top: 50%;
                          z-index: 1;
                          left: 50%;
                          transform: translate(-50%,-50%);
                        }
                      }

                      .moreImages{
                        color: #fff;
                        position: absolute;
                        z-index: 2;
                        font-size: 25px;
                        background: rgba(0, 0, 0, 0.6);
                        width: 100%;
                        height: 100%;

                        @include breakpoint($breakpoint-s) {
                          font-size: 35px;
                        }

                        @include breakpoint($breakpoint-m) {
                          font-size: 45px;
                        }

                        span{
                          position: absolute;
                          top: 50%;
                          z-index: 1;
                          left: 50%;
                          transform: translate(-50%,-50%);
                        }
                      }
                    }
                  }

                  .reactions{
                    margin: 0 0 10px;
                    color: #666;

                    span{
                      margin-right: 20px;
                      cursor: pointer;
                    }
                  }
                }

                .story-comments{
                  margin: 0;
                  background: rgba(53, 61, 146, 0.2);
                  position: relative;
                  border-radius: 0 0 5px 5px;
                  padding: 20px 20px 5px;
                  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
                  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
                  margin-bottom: 12px;

                  .comments,
                  .reply{

                    .comment-by,
                    .reply-by{

                      img{
                        width: 40px;
                        height: 40px;
                      }

                      .comment-by-info,
                      .reply-by-info{
                        display: inline-block;
                        font-size: 14px;
                        width: 80%;
                        vertical-align: top;
                        float: right;

                        @include breakpoint($breakpoint-m) {
                          width: 92%;
                        }

                        a{
                          text-decoration: none;

                          &:after{
                            display: none;
                          }
                        }

                        .dropdown-menu{
                          left: 50%;
                          /*transform: translate(-51%);*/
                          width: 97vw;

                          @include breakpoint($breakpoint-s) {
                            /*transform: translate(-27%);*/
                            width: 90vw;
                          }

                          @include breakpoint($breakpoint-m) {
                            width: 500px;
                          }

                          @extend .user-profile-popup;
                        }

                        &.reply-by-info{
                          width: 75%;

                          @include breakpoint($breakpoint-m) {
                            width: 92%;
                          }

                          .dropdown-menu{
                            /*transform: translate(-65%);

                            @include breakpoint($breakpoint-s) {
                              transform: translate(-51%);
                            }*/
                          }
                        }

                        .feed-info{
                          font-size: 11px;
                          color: #666;
                          margin: -5px 0 5px;
                        }

                        .reactions{
                          margin: 10px 0;

                          span{
                            margin-right: 20px;
                            cursor: pointer;
                          }
                        }

                        .reply-box{
                          display: none;
                          margin: 0 0 1rem;

                          textarea{
                            height: 32px;
                            overflow: hidden;
                            font-size: 13px;
                          }
                        }
                      }
                    }

                    .comment-box{
                      margin: 0 0 1rem;

                      textarea{
                        height: 36px;
                        overflow: hidden;
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #add-new-story{
    position: fixed;
    background: #353d92;
    color: #fff;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
  }

  footer{
    position: relative;
  }
}