@import "library/breakpoint";
@import "_variables";

#newPetModal{

  .modal-body{
    background-color: #e4e4e4;
    max-height: 75vh;
    overflow-y: scroll;

    /*@include breakpoint($breakpoint-l) {
      max-height: none;
      overflow: auto;
    }*/

    div{
      text-align: center;
      position: relative;
    }

    .coverPic{
      margin: 0 auto;

      .pet_profile_placeholder{
        display: inline-block;

        #pet-profile-image{
          width: 275px !important;
          height: 275px !important;
          cursor: pointer;
        }

        .browseImage{
          display: none;
          border-radius: 50%;
          position: absolute;
          bottom: 35px;
          right: 70px;
          cursor: pointer;

          &:hover{
            display: block;
          }
        }

        #pet-profile-image:hover+.browseImage{
          display: block;
        }
      }
    }

    .mask{
      font-size: 22px;
      padding: 60px 10px;

      i{
        font-size: 40px;
        color: #545454;
      }
    }

    .pet-details{
      display: none;
      margin: 0 0 110px;

      @include breakpoint($breakpoint-m) {
        margin: 35px 0 65px;
      }

      div:not(.input-group){
        display: inline-table;
        margin: 10px 0 0;
        text-align: left;

        @include breakpoint($breakpoint-m) {
          margin: 0 0 50px;
          text-align: center;
        }

        &.pet-gender{
          
          div{
            margin: 0 10px 0 0;
          }
        }

        p{
          display: block;
          margin: 0 0 10px;
          color: #666;

          @include breakpoint($breakpoint-s-max) {
            display: inline-block;
            margin: 0px 10px 10px 0;
            width: 90px;
          }
        }

        select ~ div{
          width: 62%;

          @include breakpoint($breakpoint-m) {
            width: 100%;
          }

          button{
            width: 100%;
          }
        }
      }
    }
  }

  .modal-footer{
    button{
      display: none;
    }
  }
}

#newFeedModal{

  .modal-body{
    .close{
      margin-bottom: 20px;
    }

    .feed-type{
      margin: 10px;
      text-align: right;

      .switch{
        vertical-align: sub;
      }
    }

    #richPreviewContainer{
      width: 100%;
      margin: 20px 0;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0px 0px 10px #888888;

      .loading{
        font-size: 30px;
        text-align: center;
        padding: 30px;
      }

      .fa-times-circle{
        position: absolute;
        right: 20px;
        margin-top: 5px;
        border-radius: 25px;
        padding: 1px 2px 0px 0.05em;
        cursor: pointer;
        color: #dc3545;
        font-size: 24px;
      }

      a{
        text-decoration: none;
        color: #888;

        .richImage{
          width: 40%;
          height: 165px;
          display: inline-block;
          overflow: hidden;
          padding: 10px;

          @include breakpoint($breakpoint-s-max) {
            width: 93% !important;
            height: auto !important;
            display: block;
            margin: 0 auto;
            padding: 3% 0;
          }

          img{
            width: 100%;
            height: 150px;
            border-radius: 5px 0 0 5px;

            @include breakpoint($breakpoint-s-max) {
              min-height: 200px;
              border-radius: 5px 5px 0 0;
            }
          }
        }

        .richInfo{
          width: 55%;
          display: inline-block;
          vertical-align: top;
          padding: 10px 0px;

          @include breakpoint($breakpoint-s-max) {
            width: 95%;
            margin: 0 auto;
            display: block;
            padding: 0 0 10px;
          }

          .richTitle,
          .richDescription{
            padding: 10px;
          }

          .richTitle{
            font-weight: 600;
            padding-bottom: 0px;

            .link{
              font-size: 11px;
              font-weight: normal;
              overflow: hidden;
              font-style: italic;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-top: 10px;
            }
          }
          
          .richDescription{
            max-height: 69px;
            font-size: 12px;
            overflow: hidden;
          }
        }
      } 
    }

    .file-attachment{

      /*Customizimg Image Uploadify*/
      .imageuploadify{
        min-height: 90px;
        border-radius: 5px;

        .imageuploadify-images-list{

          .fa-cloud-upload,
          .imageuploadify-message{
            display: none;
          }

          .btn.btn-default{
            border-radius: 5px;
            width: 200px;
          }

          .imageuploadify-container{
            border-radius: 5px;
            
            i{
              margin-top: .1em;
              font-size: inherit;
            }

            &:hover{
              i{
                color: #ccc;
              }
            }
          }
        }
      }
    }
  }
}

#feedGalleryModal{
  width: 100%;
  height: 100%;
  overflow: auto;

  .modal-dialog{

    @include breakpoint($breakpoint-xs-max) {
      margin: 0;
    }

    .modal-content {
      background-color: rgba(0,0,0,0.9);
      margin: auto;
      padding: 0;
      width: 100vw;
      height: 100vh;
      animation-name: zoom;
      animation-duration: 0.6s;

      @include breakpoint($breakpoint-s) {
        width: 95vw;
        height: 80vh;
      }

      .modal-body{
        padding: 5px;

        #feedGalleryCarousel{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);

          .carousel-inner{
            height: 100%;

            .carousel-item{
              height: 100%;

              img,video{
                width: auto;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
        }
      }
    }
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 1099;
  }
}