@import "library/breakpoint";
@import "_variables";

.error{

  label{
    display: none !important;
  }
}

body{
  background: #b4b4b4 url(../images/bg1.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  .main{

    .video-holder{
      position: relative;
      padding: 28px 0;

      .container{

        @include breakpoint($breakpoint-m-max) {
          max-width: none;
        }

        .videoflex{
          margin: 0;
          background: rgba(255, 255, 255, 0.5);
          position: relative;
          border-radius: 6px;
          padding: 8px;
          -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.03);

          @include breakpoint($breakpoint-m) {
            padding: 8px 5px 8px 8px;
          }

          figure{
            position: relative;
            display: inline-block;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            width: 100%;

            @include breakpoint($breakpoint-m) {
              width: 65%;
              padding-bottom: 37%;
            }

            iframe{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 5px 5px 0 0;

              @include breakpoint($breakpoint-m) {
                border-radius: 5px 0 0 5px;
              }
            }
          }

          section{
            width: 100%;
            margin-left: 0px;
            margin-top: 6px;
            display: inline-block;
            border-radius: 0 0 5px 5px;
            padding: 15px;
            vertical-align: top;

            @include breakpoint($breakpoint-m) {
              width: 33.60%;
              border-radius: 0 5px 5px 0;
              margin-left: 6px;
              margin-top: 0px;
            }

            *{
              -webkit-transition: all 0.5s;
              transition: all 0.5s;
            }

            .contact-form-home{

              h4{
                text-align: center;
                color: #666;
                margin-bottom: 25px;
              }

              .cont-form-home{

                .input{
                  margin: 15px 0;
                  position: relative;

                  input{
                    font-size: 0.9rem;
                    padding: .65em 1em;
                  }
                
                  .change-password{
                    position: relative;
                    width: 10%;
                    text-align: right;
                    bottom: 29px;
                    left: 87%;
                  }

                  &.error{
                    .change-password{
                      display: none;
                    }
                  }

                  .form-text{
                    line-height: normal;
                    margin: 10px 0;
                    color: #5e5f60;
                  }
                } 

                form#mobile-login-form{

                  @include breakpoint($breakpoint-m) {
                    display: none;
                  }

                  .input{
                    margin: 15px 0 10px;
                  }

                  div{

                    &.forgotPassword{
                      padding: 0 0 15px 10px;
                    }

                    &.form-check{
                      padding: 0 0 0 10px;
                      color: #333;

                      input{
                        position: absolute;
                        bottom: 1px;
                      }
                    }
                  }
                }

                .signin,
                .signup{
                  text-align: center;
                  margin: 30px 0 20px;

                  @include breakpoint($breakpoint-m) {
                    display: none;
                  }
                }

                .signin{

                  @include breakpoint($breakpoint-s-max) {
                    display: block;
                  }
                }

                form#mobile-login-form,
                .signup{

                  @include breakpoint($breakpoint-s-max) {
                    display: none;
                  }
                }

                .or{
                  border-radius: 5px;
                  color: #fff;
                  position: relative;
                  text-align: center;
                  width: 100%;
                  margin-top: 9px;
                  width: 100%;
                  margin-top: 9px;
                  float: left;
                  margin-bottom: 19px;

                  &:after{
                    background: #fff none repeat scroll 0 0;
                    bottom: 9px;
                    content: "";
                    height: 1px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                  }

                  span{
                    position: relative;
                    bottom: 2px;
                    z-index: 10;
                    background: #fff;
                    color: #000;
                    padding: 0 6px;
                    border-radius: 8px;
                  }
                }

                .share-home{
                  color: #fff;
                  font-size: 13px;
                  text-align: center;

                  span{
                    display: block;
                  }

                  #facebook-login{
                    display: inline-block;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
                    transition: background-color .218s,border-color .218s,box-shadow .218s;
                    -webkit-user-select: none;
                    -webkit-appearance: none;
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    white-space: nowrap;
                    height: 36px;
                    width: 120px;
                    background-color: #4267b2;
                    border-color: #29487d;
                    margin-right: 10px;

                    @include breakpoint($breakpoint-xs-max) {
                      margin-right: 0px;
                    }

                    div{
                      padding: 9px 9px 9px 12px;
                      float: left;
                      font-size: 18px;
                    }

                    span{
                      font-size: 13px;
                      line-height: 34px;
                      letter-spacing: .21px;
                      margin-left: 6px;
                      margin-right: 6px;
                      vertical-align: top;
                    }
                  }

                  .g-signin2{
                    display: inline-block;

                    .abcRioButtonLightBlue{
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  #login{

    .close{
      position: absolute;
      top: 10px;
      right: 15px
    }

    input{
      font-size: 0.9rem;
      background-color: #fff;

      &[type="email"],
      &[type="password"]{
        margin: 15px 0;
      }
    }

    .change-password{
      position: relative;
      width: 10%;
      text-align: right;
      top: -40px;
      left: 90%;
    }

    .form-check{
      margin: -10px 0 20px;
    }
  } 
}
