@import "buttons";
@import "library/breakpoint";
@import "_variables";

body{
  line-height: 16px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial;
  overflow-x: hidden;

  header{
    position: relative;
    background: #353d92;
    color: #fff;
    z-index: 99;
    width: 100%;

    @include breakpoint($breakpoint-xl) {
      width: 102%;
    }

    .header-top{
      border-bottom: 3px solid #f0ad4e;

      .container{
        display: table;
        height: 100%;
        max-width: none;
        padding: 0 5%;

        .header-top-left{
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          width: 40%;

          .logo{
            text-align: center;

            @include breakpoint($breakpoint-s) {
              text-align: left;
            }

            img{
              margin: 10px 0;
              width: 100%;

              @include breakpoint($breakpoint-s) {
                width: initial;
              }
            }
          }
        }

        .header-top-right{
          display: table-cell;
          vertical-align: middle;
          text-align: right;
          width: 55%;

          #login-form,
          .profileInfo{
            display: none;
            width: 100%;

            @include breakpoint($breakpoint-m) {
              display: inline-block;
            }

            .col-md-4{
              display: inline-block;
              padding: 0;
              margin-top: 10px;
              vertical-align: top;

              div{
                width: 100%;
                text-align: left;
                position: relative;

                input{
                  font-size: 0.9rem;
                }

                &.forgotPassword,
                &.form-check{
                  padding: 5px 0 0 10px;
                  color: #cdcfd2;
                }

                 &.forgotPassword{
                    a{
                      color: #cdcfd2;
                    }
                 }

                 &.form-check{
                  input{
                    position: absolute;
                    top: 3px;
                  }
                 }
              }
            }

            .col-md-2{
              display: inline-block;
              padding: 0;
              text-align: left;
              vertical-align: top;
              margin-top: 11px;
            }

            .btn-sm {
              padding-top: 5px;
              padding-bottom: 5px;
              margin-left: 10px;
              display: inline-block;
            }

            /*a{
              display: inline-block;
              margin-right: 7px;
              color: #e3e4f0;

              @include breakpoint($breakpoint-s) {
                display: none;
              }
            }*/
          }
        }
      }
    }
  }

  footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f1f2f3;
    text-align: center;

    @include breakpoint($breakpoint-m) {
      position: fixed;
    }

    .container{

      @include breakpoint($breakpoint-m-max) {
        max-width: none;
      }

      .links{
        margin: 20px auto;
        line-height: 30px;

        a{
          color: #fff;
          border-right: 1px solid #fff;

          &:last-child{
            border: none;
          }
        }
      }

      .copyright{
        font-size: 12px;
        color: #bbb;
      }
    }
  }
}

.alert-container.container{
  .row{
    position: absolute;
    left: 13px;
    width: 100%;
    top: 10px;

    .alert{
      margin: 0 auto;
      position: relative;
      top: 0;
      z-index: 999;
      width: 70%;
    }

    @include breakpoint($breakpoint-m) {
      left: 50px;
    }
  }
}

.modal{

  &#forgot-password{

    .modal-body{

      form{

        div{
          position: relative;
          
          input{
            font-size: 0.9rem;
            padding: .65em 1em;
            margin: 10px 0;
          }
        }
      }
    }
  }
}