@import "library/breakpoint";
@import "_variables";

@charset "utf-8";
/* CSS Document */

body {
  font-family: Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial;
}
 @font-face { 
  font-family:'opensans-bold-webfont';
  src:url('../fonts/opensans-bold-webfont.eot');
  src:url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
 @font-face {
  font-family:'balkeno-webfont';
  src:url('../fonts/balkeno-webfont.eot');
  src:url('../fonts/balkeno-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/balkeno-webfont.woff') format('woff'), url('../fonts/balkeno-webfont.woff') format('woff'), url('../fonts/balkeno-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
 @font-face {
  font-family:'opensans-extrabold-webfont';
  src:url('../fonts/opensans-extrabold-webfont.eot');
  src:url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
 @font-face {
  font-family:'opensans-regular-webfont';
  src:url('../fonts/opensans-regular-webfont.eot');
  src:url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
   font-family: 'SapientSansRegular';
   src: url('../fonts/sapisrg_.eot');
   src: url('../fonts/sapisrg_.eot?#iefix') format('embedded-opentype'), url('../fonts/sapisrg_.woff') format('woff'), url('../fonts/sapisrg_.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'SapientSansBold_gdi';
   src: url('../fonts/SapientSansBold_gdi.eot');
   src: url('../fonts/SapientSansBold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/SapientSansBold_gdi.woff') format('woff'), url('../fonts/SapientSansBold_gdi.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'SapientSansLight';
   src: url('../fonts/sapisl__.eot');
   src: url('../fonts/sapisl__.eot?#iefix') format('embedded-opentype'), url('../fonts/sapisl__.woff') format('woff'), url('../fonts/sapisl__.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'SapientSansMedium';
   src: url('../fonts/sapism_.eot');
   src: url('../fonts/sapism_.eot?#iefix') format('embedded-opentype'), url('../fonts/sapism_.woff') format('woff'), url('../fonts/sapism_.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'opensans-italic-webfont';
   src: url('../fonts/opensans-italic-webfont.eot');
   src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic-webfont.woff') format('woff'), url('../fonts/opensans-italic-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

/*Tooltip Custom Mixin*/
@mixin tooltip-custom($bg-color, $color: $tooltip-color) {
      
  .tooltip-inner{
    background-color: $bg-color;
    @if $color != $tooltip-color {
       color: $color;
    }
  }
    
  &.tooltip-top,
  &.bs-tether-element-attached-bottom {
    .tooltip-inner::before{
      border-top-color: $bg-color;
    }
  }
    
  &.tooltip-right,
  &.bs-tether-element-attached-left {
    .tooltip-inner::before{
      border-right-color: $bg-color;
    }
  }
  
  &.tooltip-bottom,
  &.bs-tether-element-attached-top {
    .tooltip-inner::before{
      border-bottom-color: $bg-color;
    }
  }
    
  &.tooltip-left,
  &.bs-tether-element-attached-right {
    .tooltip-inner::before{
      border-left-color: $bg-color;
    }
  }

  &.bs-tooltip-auto[x-placement^=top] .arrow::before, 
  &.bs-tooltip-top .arrow::before {
    border-top-color: $bg-color !important;
  }

  &.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
  &.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $bg-color !important;
  }

  &.bs-tooltip-auto[x-placement^=left] .arrow::before, 
  &.bs-tooltip-left .arrow::before {
    border-left-color: $bg-color !important;
  }

  &.bs-tooltip-auto[x-placement^=right] .arrow::before, 
  &.bs-tooltip-right .arrow::before {
    border-right-color: $bg-color !important;
  }
      
}

/*Styles for predefined Tooltip Custom Classes*/
.tooltip-primary {
  @include tooltip-custom($tooltip-primary-bg);
}

.tooltip-success {
  @include tooltip-custom($tooltip-success-bg);
}

.tooltip-info {
  @include tooltip-custom($tooltip-info-bg);
}

.tooltip-warning {
  @include tooltip-custom($tooltip-warning-bg);
}

.tooltip-danger {
  @include tooltip-custom($tooltip-danger-bg);
}

/*Styles for Tooltip Custom Classes*/
.tooltip-custom {
  @include tooltip-custom(#f2653c);
}

.tooltip-custom-alt {
  @include tooltip-custom(#5b2da3);
}

//Layout Global CSS
//
//##

@mixin error-input($errorColor) {
  border: 1px solid $errorColor;
  color: $errorColor;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $errorColor;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $errorColor;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $errorColor;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color:$errorColor;
  }
}

.error{

  input{
    @include error-input(#ca1425);
  }

  label{
    color: #ca1425;
    /*position: absolute;
    bottom: 0;
    font-size: 0.7em;
    width: 50%;
    right: 10px;
    text-align: right;
    background: #fff;
    line-height: 12px;
    padding-left: 5px;*/
  }
}

label{
  &.error{
    color: #ca1425;
  }
}

input{
  &.error{
    @include error-input(#ca1425);
  }
}

textarea{
  &.error{
    @include error-input(#ca1425);
  }
}


button{
  cursor: pointer;

  &.disable{
    pointer-events: none;
    opacity: 0.6;
  }
}

/*CSS for hexagon*/
.hexagon{
  max-width: 100%;
  height: auto;
  -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
    
}

/*SVG Classes for Hexagon(use class polygon-clip-hexagon on elements)*/
.clip-svg,
.clip-svg-pointed-top {
  width: 0;
  height: 0;
}
  
.polygon-clip-hexagon {
  max-width: 100%;
  height: auto;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: url("#polygon-clip-hexagon");
  clip-path: url("#polygon-clip-hexagon");
}

.polygon-clip-hexagon-pointed-top {
  max-width: 100%;
  height: auto;
  position: relative;
  -webkit-clip-path: url("#polygon-clip-hexagon-pointed-top");
  clip-path: url("#polygon-clip-hexagon-pointed-top");
}

/*CSS for global Datepicker*/
.picked{
  color: #fff !important;
  background-color: #7178c6 !important;
}
.highlighted{
  color: #fff !important;
  background-color: #353d92 !important;

  &:hover{
    background-color: #7178c6 !important;
  }
}

.datepicker-top-left, 
.datepicker-top-right{
  border-top-color: #353d92 !important;

  &::before{
    border-top-color: #353d92 !important;
  }
}

  .datepicker-container{
    z-index: 9999 !important;
  }

/*CSS for multiselect Container*/
.multiselect-container{
  li{
    a{
      label{
        padding: 3px 10px !important;
      }
    }
  }

  .multiselect-item.filter{
    .input-group{
      width: 96% !important;
    }
  }
}

.imageToBeCroppedContainer{
  max-height: 70vh;

  img {
    max-width: 100% !important;
  }

  .cropper-view-box,
  .cropper-face {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: url("#polygon-clip-hexagon");
    clip-path: url("#polygon-clip-hexagon");
  }
}

/*CSS for Loader*/
#loader{
  position: absolute;
  z-index: 105;
  display: none;

  div{
    background-color: #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 40px;
    text-align: center;

    i{
      position: relative;
      top: 40%;
    }
  }
}

/*CSS for Switch Toggle Button*/
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
  margin: 0;

  input {
    display:none;

    &:checked + .slider {
      background-color: #007bff;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #52a5ff;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}

/*Centering the modal Box*/
.modal-dialog-centered{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));

  @include breakpoint($breakpoint-m) {
     min-height: calc(100% - (1.75rem * 2));
  }
}

/*Zoom In Zoom Out Animations*/
.zoomIn{
  display: block;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.zoomOut{
  animation-name: zoom-out;
  animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/*Lazy Loading CSS*/
.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto 10px;
  /*max-width: 472px;*/
  min-height: 200px;

  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;

    .background-masker {
      background: #fff;
      position: absolute;

      /* Every thing below this is just positioning */
      &.header-top,
      &.header-bottom,
      &.subheader-bottom {
        top: 0;
        left: 40px;
        right: 0;
        height: 10px;
      }

      &.header-left,
      &.subheader-left,
      &.header-right,
      &.subheader-right {
        top: 10px;
        left: 40px;
        height: 8px;
        width: 10px;
      }

      &.header-bottom {
        top: 18px;
        height: 6px;
      }

      &.subheader-left,
      &.subheader-right {
        top: 24px;
        height: 6px;
      }


      &.header-right,
      &.subheader-right {
        width: auto;
        left: 300px;
        right: 0;
      }

      &.subheader-right {
        left: 230px;
      }

      &.subheader-bottom {
        top: 30px;
        height: 10px;
      }

      &.content-top,
      &.content-second-line,
      &.content-third-line,
      &.content-second-end,
      &.content-third-end,
      &.content-first-end {
        top: 40px;
        left: 0;
        right: 0;
        height: 6px;
      }

      &.content-top {
        height:20px;
      }

      &.content-first-end,
      &.content-second-end,
      &.content-third-end{
        width: auto;
        left: 380px;
        right: 0;
        top: 60px;
        height: 8px;
      }

      &.content-second-line  {
        top: 68px;
      }

      &.content-second-end {
        left: 420px;
        top: 74px;
      }

      &.content-third-line {
        top: 82px;
      }

      &.content-third-end {
        left: 300px;
        top: 88px;
      }
    }
  }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}